<!-- <div class="app-productive-heading-03 mb-2"> loués</div> -->
<div class="app-card app-card--m-0 mt-4">
    <div class="app-card__header pb-0">
        <div class="app-expressive-heading-03">Historique des chambres</div>
        <div class="app-label-01">Listing de toutes les chambres occupé par le locataire</div>
      </div>
    <div class="app-card__content">
        <div class="app-timeline" *ngIf="(locations$ | async ) as locations">
            <div class="app-timeline__group" fxLayout="row wrap" *ngFor="let location of locations">
                <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                    ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">{{location.startedAt | date :'longDate'}}</div>
                    <!-- <div class="app-helper-text-01">{{location.startedAt | date : 'yyyy'}}</div> -->
                </div>
                <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--info pb-5">
                    <div class="app-timeline__item__content" *ngIf="(getRoomById(location.room) | async) as room ">
                        <div class="app-productive-heading-02 leading-4 mb-2">
                            <span>
                                Contrat {{getReadeablRoomType(room.type)}} {{room.code}}
                            </span>
                        </div>
                        <div class="flex mb-3 app-body-short-01">
                            <a class="app-link ml-4 contrat-bail-link flex">
                                <span class="mr-1">Voir le contrat </span>
                                <youpez-ibm-icon iconSize="20" iconName="document" class="mr-2 contact-btn"></youpez-ibm-icon>
                            </a>
                            <!-- <a class="app-link mr-2"></a> -->
                        </div>
                        <div class="app-body-long-01 mb-3">
                            Occupation de {{getReadeablRoomType(room.type)}} {{room.code}}
                            <span *ngIf="location.isRunning==true else noRunningLocation">depuis {{location.startedAt |
                                date:'fullDate'}}</span>
                            <ng-template #noRunningLocation> à partir de {{location.startedAt | date:'fullDate'}}
                                juqu'au {{location.endedAt | date:'fullDate'}}</ng-template>
                        </div>
                        <!-- <div class="flex mb-3">
                          <img src="assets/img/pixabay/appl.jpg" class="w-1/3 h-auto mr-2 cursor-pointer">
                          <img src="assets/img/pixabay/iphone.jpg" class="w-1/3 h-auto cursor-pointer">
                        </div> -->
                        <!-- <div class="flex">
                          <a class="app-link mr-4">Save</a> <a class="app-link mr-2">Share</a>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>