<ion-tab-bar slot="bottom" class="mobile-tab-bar">
  <ion-tab-button 
    *ngFor="let tab of getVisibleTabs()" 
    [class.active]="isTabActive(tab)"
    [class.disabled]="isTabDisabled(tab)"
    (click)="navigateToTab(tab)">
    
    <!-- Icône avec badge optionnel -->
    <div class="tab-icon-container">
      <ion-icon 
        [name]="tab.icon" 
        [color]="getTabColor(tab)">
      </ion-icon>
      
      <!-- Badge pour notifications -->
      <ion-badge 
        *ngIf="tab.badge && tab.badge > 0" 
        color="danger" 
        class="tab-badge">
        {{ tab.badge > 99 ? '99+' : tab.badge }}
      </ion-badge>
    </div>
    
    <!-- Label -->
    <ion-label 
      [color]="getTabColor(tab)"
      class="tab-label">
      {{ tab.label }}
    </ion-label>
    
    <!-- Indicateur d'onglet actif -->
    <div class="active-indicator" *ngIf="isTabActive(tab)"></div>
  </ion-tab-button>
</ion-tab-bar>
