<div class="app-card">
    <div class="app-card__header">
      <div class="app-expressive-heading-03 text-center">{{title}}</div>
      <div>
        <youpez-echarts-container>
          <youpez-echarts [options]="charsOpts" class="app-echarts-component"  [ngStyle]="{'min-height': (currentPayementData.length*80)+'px;'}">                            
          </youpez-echarts>
        </youpez-echarts-container>
        <!-- <span class="app-expressive-heading-03 text-center">Locataires</span> -->
      </div>
    </div>
  </div>