<ng-template #invalidText>
    <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded"/>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
        <div class="px-4 py-4 flex">
          <div class="app-productive-heading-03 font-bold">Mise à jour du bien #{{data.property.code}}</div>
          <div class="flex-1 flex justify-end">
            <button (click)="onClose()" type="reset" ibmButton="ghost" size="sm" class="cds--btn--icon-only custom-ghost-close">
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32"></youpez-ibm-icon>
            </button>
          </div>
        </div>
        <div fxFlex>
          <div class="app-content app-content--default">
            <div class="app-form">
              <div class="app-form__item">
                <ibm-label helperText="" [invalid]="isValid('name')"
                [invalidText]="'Nom du bien obligatoire'">
                  Nom du bien <span class="text-red-600">*</span>
                  <input
                    formControlName="name"
                    ibmText
                    size="md"
                    theme="dark">
                </ibm-label>
              </div>
              
              <div fxLayout="row wrap" class="app-form__row">
                <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                  <ibm-label [invalid]="isValid('geolocationCountry')" [invalidText]="'Vous devez choisir un pays'">
                    Choisissez le pays <span class="text-red-600">*</span>
                        <ibm-combo-box class="mt-2"
                            [items]="countriesList"
                            formControlName="geolocationCountry"
                            theme="dark"
                            size="lg">
                            <ibm-dropdown-list></ibm-dropdown-list>
                        </ibm-combo-box>   
                    </ibm-label>
                </div>
                <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                  <ibm-label [invalid]="isValid('geolocationCity')" [invalidText]="'Vous devez choisir une ville'">
                    Choisissez la ville <span class="text-red-600">*</span>
                        <ibm-combo-box class="mt-2"
                            [items]="selectedCitiesList"
                            formControlName="geolocationCity"
                            theme="dark"
                            size="lg">
                            <ibm-dropdown-list></ibm-dropdown-list>
                        </ibm-combo-box>   
                    </ibm-label>
                </div>    
              </div>

              <div fxLayout="row wrap" class="app-form__row" >
                <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                  <ibm-toggle formControlName="hasClosure" [label]="'Posséde une bariére'" [onText]="'Oui'" [offText]="'Non'" [checked]="false" size="md">
                  </ibm-toggle>
                </div>
                <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                  <ibm-toggle formControlName="hasParking" [label]="'Posséde un parking'" [onText]="'Oui'" [offText]="'Non'" [checked]="false" size="md">
                  </ibm-toggle>
                </div>
              </div>

              <div class="app-form__item">
                    <ibm-label helperText="" [invalid]="isValid('location')"
                    [invalidText]="'Localisation du bien obligatoire'">
                      Localisation <span class="text-red-600">*</span>
                      <input
                        ibmText
                        formControlName="location"
                        size="md"
                        theme="dark">
                    </ibm-label>            
              </div>
              <div class="">
                <ibm-label
                  [helperText]="''">
                  Description
                  <textarea
                    ibmTextArea
                    formControlName="description"
                    theme="dark"
                    [rows]="3"
                    class="textarea-field"
                    aria-label="textarea"></textarea>
                </ibm-label>
              </div>

              <!-- Sélecteur de modèle de contrat -->
              <div class="app-form__item">
                <app-contract-template-selector
                  formControlName="contractTemplate"
                  label="Modèle de contrat"
                  placeholder="Sélectionner un modèle de contrat (optionnel)"
                  [required]="false"
                  [showCreateButton]="true"
                  [showPreview]="true">
                </app-contract-template-selector>
              </div>
            </div>
      
          </div>
        </div>
        <div class="px-4 py-4 flex justify-end app-border-t">
          <button (click)="onClose()" type="reset" ibmButton="secondary" size="md" class="mr-1 btn-annuler">
            Annuler
          </button>
          <button ibmButton="primary" size="md" [disabled]="waittingResponse || formGroup.invalid" class="custom-primary-button" type="submit">
            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
            <ng-template #noWaitingResponse>
              <span class="btn-text">Mettre à jour</span>
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="add" iconSize="20"></youpez-ibm-icon>

            </ng-template>
          </button>
        </div>
      </div>
      
  </form>
 