<div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
  <div class="px-4 py-4 flex">
    <div class="app-productive-heading-03 font-bold">Contrat de location</div>
    <div class="flex-1 flex justify-end">
      <button (click)="onClose()" ibmButton="ghost" size="sm" class="cds--btn--icon-only custom-ghost-close">
        <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32"></youpez-ibm-icon>
      </button>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="row wrap">
      <div fxFlex="100%" *ngIf="loading==false else showLoadingComponent">
        <!-- <div class="flex justify-between pb-4">
          <button ibmButton="primary" size="sm" class="custom-primary-button">
            <span class="btn-text">Email</span>
            <youpez-ibm-icon iconClass="cds--btn__icon" iconName="email" iconSize="20"></youpez-ibm-icon>
          </button>

        </div> -->
        <div id="print-section" class="app-card app-card--m-0 app-card--p-0" #billingRef>
          <div class="app-card__content">
            <!-- <div ngClass.gt-sm="p-10" ngClass.lt-sm="p-5" ngClass.sm="p-5" > -->

            <!-- *ngIf="locationPayment"<pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" style="width: 400px; height: 500px"></pdf-viewer> -->
            <ngx-extended-pdf-viewer useBrowserLocale="true" [src]="pdfSrc"
              [filenameForDownload]="'Public Domain.pdf'"></ngx-extended-pdf-viewer>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <ng-template #showLoadingComponent>
        <div fxFill fxLayout="column">
          <div class="relative no-data-loader">
            <youpez-loader title="Génération du contrat"></youpez-loader>
          </div>
        </div>

      </ng-template>
    </div>
  </div>
  <!-- <div class="px-4 py-4 flex justify-end app-border-t">
    <button (click)="onClose()" ibmButton="secondary" size="md" class="mr-1">
      Valider
    </button>
  </div> -->
</div>