li a, .text-appname {
    color: inherit;
    text-decoration: inherit;
  }

  .text-appname {
    font-size:14px;
    color:rgb(204, 140, 10);
  }

  .text-appname:hover{
    text-decoration: underline;
  }

.svg-fcb:hover {
    fill:#475993
  }

  .svg-ytube:hover {
    fill:#F61C0D;
  }


footer {
  // position: fixed;
  // bottom: 0;
  // width: 100%;
}

footer hr {
  background-color: rgba(0,0,0,0.2);
}