<div class="app-main-header__inner">
    <div class="text-4xl fond-bold app-main-header__text">
        Liste des comptes
    </div>
</div>

<div class="mt-5">
    <div fxFlex="100%" class="w-full shadow-md app-card row mt-4">
        <div class="app-card__header header-footer-billing">
            <div class="app-row app-row--center  p-2">
                <div>
                    <div class="app-expressive-heading-03 font-bold mb-2">Propriétaires de bien </div>
                    <!-- <div class="app-label-01">Montant total des frais et d'informations de paiement</div> -->
                </div>
            </div>
        </div>
    
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2">
            <div fxFlex="100%" fxFlex.gt-md="25%" class="">
                <div class="flex justify-between app-card__block">
                    <div>
                        <div class="app-label-04 mb-2">Total de propriétaires actifs</div>
                        <div class="app-productive-heading-03 font-bold" >{{(users$ | async).length}}</div>
                    </div>   
                </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="50%" class="">
                <ibm-table-toolbar-search [formControl]="formControlSearch" theme="dark"
                    ngDefaultControl
                    [expandable]="false">
                </ibm-table-toolbar-search>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="25%" class="app-card__block">
                <div class="flex justify-end">
                    <div>
                        <button type="submit" size="lg" class="custom-primary-button" ibmButton="primary" >
                            <!-- <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading> -->
                            <!-- <ng-template #noWaitingResponse> -->
                              <span class="btn-text">Nouveau propritaires</span>
                              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="add" iconSize="20" ></youpez-ibm-icon >
                            <!-- </ng-template> -->
                          </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2">
            <ibm-table-container class="w-full">
                        
                <ng-template #dateCreateTemplate let-data="data">
                    {{data | date:'mediumDate'}}
                </ng-template>
        
                <ng-template #linkSpaceTemplate let-data="data">
                        <ng-container >
                            <a  class="cursor-pointer link-to-space">Vers l'espace</a>
                        </ng-container>
                </ng-template>

        
                <ng-template #actionStatusTemplate let-data="data" >
                    <div class="flex" >
                        <div fxLayout="row wrap" class="app-form__row" >
                            <div fxFlex="80%" class="app-form__item">
                              <ibm-toggle (checkedChange)="changeStatusUser($event,data._id)" [disabled]="data.isLoading | async" [onText]="'Actif'" [offText]="'Inactif'" [checked]="data.value | async" size="md">
                              </ibm-toggle>
                            </div>
                            <div *ngIf="data.isLoading | async" fxFlex="20%" class="app-form__item align-middle pt-4 pl-3" >
                                <img src="./../../../../../assets/img/utils/loading-gif.gif" width="20" alt="" srcset="">
                              </div>
                          </div>
                        <!-- formControlName="isInternalKitchen"  <div class="app-mini-sidebar__list__item__pill mr-2"  (click)="removeAssignLocationRoom(data.location)"  container="body" ngbTooltip="Mettre fin à la location">
                            <mat-icon svgIcon="person_remove_alt_1" class="text-red"></mat-icon>
                        </div> -->
                        <!--   -->
                    </div>
                </ng-template>
            
                <div >
                    <ibm-table
                    class="w-full"
                    [model]="model"
                    [size]="size"
                    [skeleton]="skeleton"
                    [showSelectionColumn]="false"
                    [enableSingleSelect]="false"
                    (rowClick)="onRowClick($event)"
                    [sortable]="sortable"
                    [stickyHeader]="stickyHeader"
                    [striped]="striped"
                    [isDataGrid]="isDataGrid"
                    (sort)="simpleSort($event)">
                    <ng-content></ng-content>
                </ibm-table>
                </div>
            
                <ng-template #customTrigger>
                    <svg ibmIconSettings size="16"></svg>
                </ng-template>
                <ibm-pagination [model]="model" (selectPage)="selectPage($event)"></ibm-pagination>
            </ibm-table-container>
        </div>
    
    </div>
</div>