<div class="app-a-box app-scrollbar-fix">
    <ng-scrollbar>
        <div class="app-header-subheader app-header-subheader--left-alt app-header-subheader--right-alt">
            <div class="flex flex-1 items-center">
                <!-- <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconOpenPanelLeft size="20"></svg>
                </button>
                <span class="app-btn-border-sep"></span>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconFlag size="32"></svg>
                </button>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconError size="32"></svg>
                </button>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconTag size="32"></svg>
                </button>
                <span class="app-btn-border-sep"></span>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconStar size="32"></svg>
                </button>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconTrashCan size="32"></svg>
                </button>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconPrinter size="32"></svg>
                </button> -->
            </div>
            <div class="flex-1 flex items-center justify-end" fxHide fxShow.gt-sm>
                <!-- <div class="app-helper-text-01">1 of 1,451</div>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconChevronLeft size="32"></svg>
                </button>
                <button ibmButton="ghost" size="sm" class="bx--btn--icon-only bx--btn--remove-tooltip">
                    <svg class="bx--btn__icon" ibmIconChevronRight size="32"></svg>
                </button> -->
            </div>
        </div>
        <div class="app-header-subheader" style="height: 40px">
            <div class="flex justify-between flex-1 items-center">
                <div class="app-productive-heading-02">{{getRoomType(room?.type)}} #{{room?.code}}</div>
                <ibm-tag type="warm-gray">work</ibm-tag>
            </div>
        </div>
        <div class="app-card app-card--alone">
            <div class="app-card__content">
                <div fxFlex>
                    <div class="app-content app-content--default h-full">
                        <cds-tabs [type]="'line'" [followFocus]="false" [isNavigation]="false" [cacheActive]="false">
                            <cds-tab heading="Details" [tabContent]="details"></cds-tab>
                            <cds-tab heading="Locataire" [tabContent]="locataire"></cds-tab>
                            <cds-tab heading="Paiement" [tabContent]="paiement"></cds-tab>
                            <cds-tab heading="Galerie" [tabContent]="galerie"></cds-tab>
                        </cds-tabs>

                        <ng-template #details>
                            <details-room [room]="room"></details-room>
                        </ng-template>
                        <ng-template #locataire>
                            2
                        </ng-template>
                        <ng-template #paiement>
                            3
                        </ng-template>

                        <ng-template #galerie>
                            4
                        </ng-template>

                    </div>
                </div> 
            </div>
        </div>
    </ng-scrollbar>
</div>


<!-- -->