<ng-template #invalidText>
    <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded"/>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
        <div class="px-4 py-4 flex">
          <div class="app-productive-heading-03 font-bold">Faire un paiement</div>
          <div class="flex-1 flex justify-end">
            <button (click)="onClose()" ibmButton="ghost" size="sm" class="cds--btn--icon-only custom-ghost-close">
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32" ></youpez-ibm-icon >
            </button>
          </div>
        </div>
        <div fxFlex>
          <div class="app-content app-content--default">
            <div class="app-form">
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label> Numéro de chambre
                          <input
                            ibmText
                            disabled
                            [value]="'#'+room?.code"
                            size="md"
                            theme="dark">
                        </ibm-label>        
                    </div>
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label> Locataire
                          <input
                            ibmText
                            [value]="locataire?.fullName"
                            disabled
                            size="md"
                            theme="dark">
                        </ibm-label>        
                    </div>                    
                </div>
                <div fxLayout="row wrap" class="app-form__row">
                  <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">                      
                    <ibm-label helperText=""   [invalid]="isValid('paymentLocationType')" [invalidText]="'Le type de paiement'">
                      Type de paiement <span class="text-red-600">*</span>
                      <ibm-combo-box class="mt-2"
                        [items]="paymentTypeList"
                        (selected)="onSelectedType($event)"
                        theme="dark"
                        [invalid]="isValid('paymentLocationType')"
                        size="md">
                        <ibm-dropdown-list></ibm-dropdown-list>
                    </ibm-combo-box>   
                    </ibm-label>
                  </div>   
                  <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">                      
                    <ibm-label helperText=""   [invalid]="isValid('locationPaymentPrice')" [invalidText]="'Le montant payé doit être au moins de 1000 FCFA'">
                      Montant payé (FCFA) <span class="text-red-600">*</span>
                      <ibm-number
                        [theme]="'dark'"
                        [invalid]="isValid('locationPaymentPrice')"
                        [invalidText]="''"
                        formControlName="locationPaymentPrice"
                        [size]="'md'">
                      </ibm-number>
                    </ibm-label>
                  </div>                   
                </div>
                <div fxLayout="row wrap" class="app-form__row">                
                  <div fxFlex="100%"  class="app-form__item">                      
                    <ibm-label helperText="" class="type_bien_label"  [invalid]="isValid('datePayment')" [invalidText]="'La date de versement n\'est pas valide'">
                      Date de versement<span class="text-red-600">*</span>
                    <ibm-date-picker
                          formControlName="datePayment"
                        [placeholder]="'dd/mm/yyyy'"
                        [language]="'fr'"
                        [size]="'md'"
                        [theme]="'dark'"
                        [invalid]="isValid('datePayment')"
                        [invalidText]="''"
                        [dateFormat]="'d/m/Y'">
                      </ibm-date-picker>
                    </ibm-label>
                  </div>                    
                </div>              
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" class="app-form__item">
                        <ibm-label
                        [helperText]="''">
                        Commentaire sur le paiement
                        <textarea
                            ibmTextArea
                            formControlName="reason"
                            class="textarea-field"
                            theme="dark"
                            [rows]="3"
                            [cols]="3"
                            aria-label="textarea"></textarea>
                        </ibm-label>
                    </div>
                </div>      
                
            </div>
      
          </div>
        </div>
        <div class="px-4 py-4 flex justify-end app-border-t">
          <button (click)="onClose()"
                  ibmButton="secondary"
                  size="md"
                  class="mr-1">
            Annuler
          </button>
          <button class="custom-primary-button" ibmButton="primary" size="md" [disabled]="waittingResponse || formGroup.invalid" type="submit">
            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
            <ng-template #noWaitingResponse>
              <span class="btn-text">Valider</span>
              <!-- <mat-icon svgIcon="save" ></mat-icon> -->
  
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="save" iconSize="20" ></youpez-ibm-icon >
            </ng-template>
          </button>
        </div>
      </div>
      
  </form>
  