<div class="app-main-header__inner">
  <div class="text-4xl fond-bold app-main-header__text">
      Liste des Pays/Villes
  </div>
</div>

<div class="mt-5 app-scrollbar-fix">
    <!-- <ng-scrollbar> -->
      <div fxFill fxLayout="column">
        <div fxFlex class="relative">
          <div fxLayout="row wrap">
            <div fxFlex.gt-lg="100%">
              <div class="app-content app-content--default">
                <div class="flex items-center  mb-4">                 
                  <div class="flex-1 flex justify-end">
                    <button (click)="onAddCountry()" class=" custom-primary-button" ibmButton="primary" size="sm">
                      Ajouter un pays
                      <youpez-ibm-icon iconClass="cds--btn__icon" iconName="add" iconSize="20" ></youpez-ibm-icon >
                    </button>
                  </div>
                </div>

                <div fxLayout="row wrap">
                  <div fxFlex.gt-lg="65%">
                    <ng-container *ngIf="!(loading$ | async) else showLoading">
                      <country-city-list  [countries]="countriesList"  #appTasksList [tasks]="taskGroups" [transparent]="false" [filterText]="txtSearch" ></country-city-list>
                    </ng-container>
                    <!-- <ng-template #showLoading>
                      <app-no-data-list textDescription="pays" class="flex-auto"></app-no-data-list>                            
                    </ng-template> -->
                    <ng-template #showLoading>
                      <div class="relative">
                        <youpez-loader></youpez-loader>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </ng-scrollbar> -->
  </div>