
// ag-grid-angular {
//     height: 75vh !important;
//     min-height: 75vh;
//     width: 100%;
//   }

  // .ag-theme-balham {
  //   overflow-y: auto !important; 
  // }
.financial-room-grid {
  width: 100%;
  overflow-x: auto;
}
.ag-theme-balham {
  width: 100% !important;
  min-width: 0 !important;
}

.financial-grid .ag-aria-description-container {
    display: none;
}