
ag-grid-angular {
    height: 75vh !important;
    min-height: 75vh;
    width: 100%;
  }

  .ag-theme-balham {
    overflow-y: auto !important; 
  }

.financial-grid .ag-aria-description-container {
    display: none;
}