<div  fxLayout="row wrap">  
    <div fxFlex="100%" class=" md:mt-4 w-full">
        <!-- Banieire-->
        <baniere-slide></baniere-slide>
        <!-- End Baniere-->
         <!--Show solution complete-->
         <show-solution-complete></show-solution-complete>
         <!--End Show solution complete-->
         <!-- Show number of thing-->
          <show-number></show-number>
         <!-- End Show number of thing-->

         <!-- How its work-->
        <how-its-work></how-its-work>
         <!-- How its work-->
        
         <property-vedette></property-vedette>

         <contact-us></contact-us>

         <tarifs-list></tarifs-list>

         <slogan-text></slogan-text>
    </div>
</div>
