<youpez-sidenav-container #panelLocation panel="panel">
    <youpez-sidenav
          [breakpoint]="'lg'"
          [direction]="'right'"
          [opened]="isAssignedOpened"
          (visibleChange)="isAssignedOpened=$event"
          [mode]="'over'"
          [toggleableBtn]="true"
          (close)="onClose($event)"
          [size]="'lg'">
        <assign-location [sideNavBarElement]="panelLocation" [isAssignedOpened]="isAssignedOpened" [property]="property"></assign-location>
    </youpez-sidenav>

    <ibm-table-container class="">
        <ibm-table-toolbar [model]="model" [batchText]="batchText" [size]="size" #toolbar>
            <ibm-table-toolbar-content>
                <ibm-table-toolbar-search
                ngDefaultControl
                theme="light"
                [expandable]="false">
                </ibm-table-toolbar-search>  
                <button ibmButton="primary" (click)="shouldOpenAssignedOpened()" class="assigner-chambre" size="sm">
                    <span class="btn-text">Assigner une Chambre</span>
                    <!-- <ibm-icon-add size="20" class="bx--btn__icon"></ibm-icon-add> -->
                    <youpez-ibm-icon class="bx--btn__icon" iconName="task" iconSize="20"></youpez-ibm-icon>  
                </button>   
            </ibm-table-toolbar-content>
        </ibm-table-toolbar>
        
        <!-- <ng-template #totalHeaderTemplate let-data="data">
            <ng-container *ngIf="data=='actions' else toLestDataUser" ><div class="w-full text-right">{{data}}</div></ng-container>
            <ng-template #toLestDataUser><div class="w-full text-left">{{data}}</div></ng-template>
        </ng-template> -->
        <ng-template #locataireTemplate let-data="data">
            <ng-container *ngIf="(getLocataireById(data) | async ) as locataireData">
                {{locataireData["fullName"]}}
            </ng-container>
        </ng-template>

        <ng-template #dateEntryTemplate let-data="data">
            {{data | date:'mediumDate'}}
        </ng-template>

        <ng-template #roomTemplate let-data="data">
            <ng-container *ngIf="( getRoomById(data) | async )as roomData">
                <ng-container [ngSwitch]="roomData.type">
                    <span *ngSwitchCase="'room'">Chambre {{roomData["code"]}}</span>
                    <span *ngSwitchCase="'studio'">Studio #{{roomData["code"]}}</span>
                    <span *ngSwitchCase="'simple_apartment'">Apartement #{{roomData["code"]}}</span>
                    <span *ngSwitchCase="'furnished_apartment'">Apartement Meublé #{{roomData["code"]}}</span>
                </ng-container>
            </ng-container>
        </ng-template>

        <ng-template #actionTemplate let-data="data" >
            <div class="flex">
                <div class="app-mini-sidebar__list__item__pill mr-2"  container="body" ngbTooltip="Voir les details du locataire">
                    <youpez-ibm-icon class="location-icon text-bleu cursor-pointer " iconName="view" iconSize="20"></youpez-ibm-icon>  
                </div>
                <div class="app-mini-sidebar__list__item__pill mr-2" (click)="removeAssignLocationRoom(data.location)"  container="body" ngbTooltip="Mettre fin à la location">
                    <!-- <youpez-ibm-icon class="location-icon text-bleu cursor-pointer " iconName="view" iconSize="20"></youpez-ibm-icon>   -->
                    <mat-icon svgIcon="person_remove_alt_1" class="text-red"></mat-icon>
                </div>
                <div class="app-mini-sidebar__list__item__pill" (click)="addLocationPayment(data.location)" container="body" ngbTooltip="Ajouter un paiement">
                    <youpez-ibm-icon class="location-icon text-green cursor-pointer " iconName="money" iconSize="20"></youpez-ibm-icon>  
                </div>
            </div>
        </ng-template>
    
    
        <ibm-table
            [model]="model"
            [size]="size"
            [skeleton]="skeleton"
            [showSelectionColumn]="showSelectionColumn"
            [enableSingleSelect]="enableSingleSelect"
            (rowClick)="onRowClick($event)"
            [sortable]="sortable"
            [stickyHeader]="stickyHeader"
            [striped]="striped"
            [isDataGrid]="isDataGrid"
            (sort)="simpleSort($event)">
            <ng-content></ng-content>
        </ibm-table>
    
    
        <ng-template #customTrigger>
            <svg ibmIconSettings size="16"></svg>
        </ng-template>
    </ibm-table-container>
</youpez-sidenav-container>