
         <div fxFill fxLayout="column">
            <!-- <div class="px-2 py-2 text-center   app-border-b">
              <youpez-ibm-icon iconName="task" iconSize="32"></youpez-ibm-icon>
              <img src="./../../../../../assets/images/assigne_room.png" class="img-assign-room" alt="" srcset="">
            </div> -->
            <!-- <div class="app-expressive-heading-02 px-4 truncate mb-2">Assigner une unité locative</div> -->
            <div fxFlex class="relative">
              <div class="app-a-box app-scrollbar-fix">
                <ng-scrollbar>
                  <youpez-content-simple mainTitle="Assigner une unité locative">
                    <div fxLayout="row wrap">
                      <div fxFlex="100%" >
                        <div fxLayout="row wrap">
                          <div fxFlex="100%" class="">
                            <div class="">
                              <div class="app-card app-card--m-0">
                                <div class="app-card__content" style="padding-left:0;">
                                  <!-- <app-dummy-form-wizard orientation="vertical"></app-dummy-form-wizard> -->
                                   <!-- <assign-location-stepper [roomList]="roomList" [locataireList]="locataireList"></assign-location-stepper> -->
                                    <div fxLayout="row wrap">
                                      <div >
                                        <ng-container >
                                          <div class="">
                                            <!-- <app-dummy-form-billing #billingForm [theme]="formTheme" [layout]="formLayout"></app-dummy-form-billing> -->
                                             <!--  -->
                                              <assign-location-form (onSendLocationData)="onSetLocataireFormData($event)" #locationForm [propertyID]="property?._id" [roomSelected]="roomSelected" [locataireSelected]="locataireSelected"></assign-location-form>
                                            <div class="mt-1 flex justify-between">
                                              <button ibmButton="secondary" size="md" [disabled]="waittingResponse" (click)="closeSideNav()">
                                                  <!-- <youpez-ibm-icon iconClass="cds--btn__icon" iconName="arrowRight" iconSize="20" ></youpez-ibm-icon > -->
                                                  <span class="btn-text">Annuler</span>
                                              </button>
                                              <button ibmButton="primary" class="custom-primary-button" [disabled]="waittingResponse || !canSendingData" (click)="onSubmit()" size="md">
                                                <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
                                                <ng-template #noWaitingResponse>
                                                  <span class="btn-text">Enregistrer</span>
                                                  <!-- <svg class="cds--btn__icon" ibmIconArrowRight size="sm"></svg> -->
                                                  <youpez-ibm-icon iconClass="cds--btn__icon" iconName="save" iconSize="24" ></youpez-ibm-icon >
                                                </ng-template>
                                                <!-- <span class="btn-text">Enregistrer</span>
                                                <youpez-ibm-icon iconClass="cds--btn__icon" iconName="save" iconSize="24" ></youpez-ibm-icon > -->
                                              </button>
                                            </div>
                                          </div>
                                        </ng-container>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </youpez-content-simple>                    
                </ng-scrollbar>
              </div>
            </div>
            <!-- <div class="px-4 py-4">
              <div class="mb-1">
                <button ibmButton="primary" size="sm" class="w-full mb-1">
                  Enregistrer
                    <youpez-ibm-icon iconClass="bx--btn__icon" iconName="save" iconSize="20"></youpez-ibm-icon>
                </button>
              </div>
              <div class="mb-1">
                <button ibmButton="danger" size="sm" class="w-full">
                  Annuler
                  <youpez-ibm-icon iconClass="bx--btn__icon" iconName="trashCan" iconSize="20"></youpez-ibm-icon>

                </button>
              </div>
            </div> -->
          </div>