
<!-- Mode modal -->
<div *ngIf="isModalMode && !assistantVisible" class="assign-location-modal-content">
  <div class="modal-header">
    <h2 class="modal-title">
      <i class="fas fa-user-plus mr-3"></i>
      {{ 'ASSIGNMENT.ASSIGN_UNIT' | translate }}
    </h2>
    <button class="modal-close-btn" (click)="navigateBack()" type="button">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="modal-body">
    <ng-container *ngTemplateOutlet="assignmentContent"></ng-container>
  </div>
</div>

<!-- Mode page normale -->
<div *ngIf="!isModalMode && !assistantVisible" fxFill fxLayout="column">
  <div fxFlex class="relative">
    <div class="app-a-box app-scrollbar-fix">
      <ng-scrollbar>
        <youpez-content-simple [mainTitle]="'ASSIGNMENT.ASSIGN_UNIT' | translate">
          <ng-container *ngTemplateOutlet="assignmentContent"></ng-container>
        </youpez-content-simple>
      </ng-scrollbar>
    </div>
  </div>
</div>

<!-- Template du contenu d'assignation -->
<ng-template #assignmentContent>
  <div fxLayout="row wrap">
    <div fxFlex="100%">
      <div fxLayout="row wrap">
        <div fxFlex="100%" class="">
          <div class="">
            <div class="app-card app-card--m-0" [class.modal-card]="isModalMode">
              <div class="app-card__content" [style.padding-left]="isModalMode ? '1rem' : '0'">
                <div fxLayout="row wrap">
                  <div>
                    <ng-container>
                      <div class="">
                        <!-- Nouveau assistant d'assignation -->
                        <div class="assignment-options">
                          <button
                            type="button"
                            class="btn btn-primary btn-assistant"
                            (click)="ouvrirAssistant()">
                            <i class="fas fa-user-plus mr-2"></i>
                            {{ 'ASSIGNMENT.ASSIGNMENT_ASSISTANT' | translate }}
                          </button>

                          <div class="divider">
                            <span>{{ 'ASSIGNMENT.OR' | translate }}</span>
                          </div>

                          <div class="legacy-form">
                            <h4>{{ 'ASSIGNMENT.QUICK_ASSIGNMENT' | translate }}</h4>
                            <assign-location-form
                              (onSendLocationData)="onSetLocataireFormData($event)"
                              #locationForm
                              [propertyID]="property?._id"
                              [roomSelected]="roomSelected"
                              [locataireSelected]="locataireSelected">
                            </assign-location-form>
                          </div>
                        </div>
                        <div class="mt-1 flex justify-between">
                          <button ibmButton="secondary" size="md" [disabled]="waittingResponse" (click)="navigateBack()">
                            <i class="fas fa-arrow-left mr-2"></i>
                            <span class="btn-text">{{ 'ASSIGNMENT.BACK' | translate }}</span>
                          </button>
                          <button ibmButton="primary" class="custom-primary-button" [disabled]="waittingResponse || !canSendingData" (click)="onSubmit()" size="md">
                            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
                            <ng-template #noWaitingResponse>
                              <span class="btn-text">{{ 'ASSIGNMENT.SAVE' | translate }}</span>
                              <i class="fas fa-save ml-2"></i>
                            </ng-template>
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
            <!-- <div class="px-4 py-4">
              <div class="mb-1">
                <button ibmButton="primary" size="sm" class="w-full mb-1">
                  Enregistrer
                    <youpez-ibm-icon iconClass="bx--btn__icon" iconName="save" iconSize="20"></youpez-ibm-icon>
                </button>
              </div>
              <div class="mb-1">
                <button ibmButton="danger" size="sm" class="w-full">
                  Annuler
                  <youpez-ibm-icon iconClass="bx--btn__icon" iconName="trashCan" iconSize="20"></youpez-ibm-icon>

                </button>
              </div>
            </div> -->

<!-- Assistant d'assignation -->
<assignation-assistant
  [isVisible]="assistantVisible"
  [property]="property"
  [preselectedRoom]="roomSelected"
  [preselectedLocataire]="locataireSelected"
  (onClose)="fermerAssistant()"
  (onSuccess)="onAssignationSuccess($event)">
</assignation-assistant>