.cds--tabs {
    border-block-end: 2px solid var(--cds-border-subtle);
    margin-left: 5px;
}

.cds--tabs .cds--tabs__nav-link{
    border-block-end:none;
}

.cds--tabs .cds--tabs__nav-item--selected {
    /* border-block-end: 2px solid var(--cds-border-interactive, #0f62fe); */
    border-block-end: 2px solid rgb(204, 140, 10) !important;

}

.cds--tab-content:focus {
    outline: none;
}
 
.cds--tabs .cds--tabs__nav-link:focus
{
    outline: 2px solid rgb(204, 140, 10);
}

.app-content.app-content--default {
    padding: 0px;
}

.upload-btn
{
    background-color: rgb(204, 140, 10);
    cursor: pointer;
}

.upload-btn:hover
{
    background-color: rgba(204, 140, 10,.8);
}