<div class="flex flex-col gap-4 ml-16 ">
    <!-- Image principale -->
    <div>
        <div class="relative">
            <!--  -->
            <button (click)="showFullScreenViewer()"  class="absolute  float-right btn-text-edit top-0 right-0 mt-10 mr-5 bg-slate-700 rounded-md z-10">
                <i class="fa-solid fa-expand fa-2x text-white"></i>
            </button>
          </div>
      <img [src]="imagesFound[currentIndex].url" class="main-img block w-full " alt="..." *ngIf="imagesFound[currentIndex].type=='image'">
            <video *ngIf="imagesFound[currentIndex].type=='video'" class="main-img w-full"  loop muted controls>
                <source [src]="imagesFound[currentIndex].url"  />
            </video>
            <galery-video360-item [isFullScreen]='true' class="main-img block" [urlFile]="imagesFound[currentIndex].url" *ngIf="imagesFound[currentIndex].type=='panorama'"></galery-video360-item>
    </div>
    
  
    <!-- Miniatures avec navigation -->
    <div class="relative">
      <!-- Bouton de navigation gauche -->
      <button 
        class="absolute btn-text-edit-nav rounded-full left-0 top-1/2 mt-12 transform -translate-y-1/2 text-white border-0 p-2 rounded-full  z-10"
        (click)="prevThumbnails()"
        *ngIf="currentStartIndex != 0"
      >
        <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <!-- Bouton de navigation droite -->
      <button 
        class="absolute btn-text-edit-nav rounded-full right-0 top-1/2 mt-12 transform -translate-y-1/2 text-white p-2 rounded-full  z-10"
        (click)="nextThumbnails()"
        *ngIf="currentStartIndex + thumbnailsPerPage < imagesFound.length"
      >
      <svg class="w-5 h-5 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
  </svg>
      </button>
      <!-- Miniatures défilantes -->
      <div class="grid grid-cols-5 gap-4 overflow-hidden">
        <div 
          *ngFor="let img of visibleThumbnails; let i = index"
          (click)="selectImage(currentStartIndex + i)" 
          class="cursor-pointer image-thumbnail p-2"
          [ngClass]="{'active':i==currentIndex}"
        >
          <img *ngIf="img.url!='video'" [src]="img.url"  alt="Miniature" 
            class="h-auto max-w-full rounded-lg border-2 transition-transform duration-300"
            [class.border-blue-500]="currentIndex === (currentStartIndex + i)"
            [class.transform]="currentIndex === (currentStartIndex + i)"
            [class.scale-110]="currentIndex === (currentStartIndex + i)"
          />
          <video *ngIf="img.type=='video'" class="h-auto max-w-full"  loop muted >
            <source [src]="imagesFound[currentIndex].url"  />
        </video>
        </div>
      </div>
  
      
    </div>
  </div>
  