   <div class="relative w-full overflow-hidden  overflow-hidden rounded-lg">
    <div class="relative">
      <!--  -->
      <button  (click)="showFullScreenViewer()" class="absolute  float-right btn-text-edit top-0 right-0 mt-10 mr-5 bg-slate-700 rounded-md z-10">
          <i class="fa-solid fa-expand fa-2x text-white"></i>
      </button>
    </div>
    <swiper-container appSwiper #swiper [config]="swiperConfig" thumbs-swiper=".mySwiper2" (slidechange)="slideChange($event)">     
      <swiper-slide *ngFor="let item of imagesFound">
        <img [src]="item.url"  width="150"  class="main-img block w-full top center " alt="..." *ngIf="item.type=='image'" />
        <video *ngIf="item.type=='video'" class="main-img w-full"  loop muted controls>
          <source [src]="item.url"  />
      </video>
      <galery-video360-item [isFullScreen]='true' class="main-img block" [urlFile]="item.url" *ngIf="item.type=='panorama'"></galery-video360-item>
      </swiper-slide>
    </swiper-container>
    <!-- /image -->
  
    <!-- thumbnails -->
    <swiper-container appSwiper #swiperThumbs [config]="swiperThumbsConfig" class="mySwiper2" *ngIf="images.length > 1">
      <swiper-slide *ngFor="let item of images">
        <!-- <div class="ratio ratio-4x3" role="button" [ngStyle]="{background: 'url(' + item +') center / cover'}"></div> -->
        <img [src]="item"   class="w-full h-full object-cover" />
  
      </swiper-slide>
    </swiper-container>
  
  </div>