<div fxFlex class="how-its-work">
    <div  fxLayout="row wrap">  
        <div class="text-center mt-10 text-header" fxFlex="100%">
            <div><h1>Comment ça marche?</h1></div>
            <div class="mt-6">
                <span>Commencez à gérer vos biens en quelques étapes simples</span>
            </div>
        </div>
    </div>
    <div  fxLayout="row wrap" class="how-its-work-show-list mt-16 mb-8" >  
        <div fxFlex="100%" fxFlex.gt-md="22%" fxFlex.sm="45%" class="first list-func-item">
            <div class="text-center title_img mb-4">
                <span class="internal-div">
                    <img src="assets/landing/Add_home.png" alt="Add home">
                </span>
            </div>
            <div class="text-center text-title"><span>1. Ajoutez vos biens</span></div>
            <div  class="text-center mt-4">
                <span>Créez votre portfolio immobilier</span>
            </div> 
        </div>
        <div class="list-func-item second" fxFlex="100%" fxFlex.gt-md="22%" fxFlex.sm="45%">
            <div class="text-center mb-4 title_img">
                <span class="internal-div">
                    <img src="assets/landing/Settings.svg" alt="Add home">
                </span>
            </div>
            <div class="text-center text-title"><span>2. Configurez</span></div>
            <div  class="text-center  mt-4">
                <span>Personnalisez vos paramètres</span>
            </div>
        </div>
        <div fxFlex="100%" class="list-func-item third" fxFlex.gt-md="22%" fxFlex.sm="45%" >
            <div class="text-center mb-4 title_img">
                <span class="internal-div">
                    <img src="assets/landing/Key_Security.svg" alt="Add home">
                </span>
            </div>
            <div class="text-center text-title"><span>3. Gérez</span></div>
            <div class="text-center  mt-4">
                <span class="sub-title-how-it-work">Suivez vos locations</span>
            </div>
        </div>
        <div fxFlex="100%" class="list-func-item quartor" fxFlex.gt-md="22%" fxFlex.sm="45%" >
            <div class="text-center mb-4 title_img">
                <span class="internal-div">
                    <img src="assets/landing/financial_check.svg" alt="Add home">
                </span>
            </div>
            <div class="text-center text-title"><span>4. Analysez</span></div>
            <div  class="text-center  mt-4">
                <span>Consultez vos statistiques</span>
            </div>
        </div>
    </div>
</div>