<ng-template #invalidText>
    <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded"/>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
        <div class="px-4 py-4 flex">
          <div class="app-productive-heading-03 font-bold">Ajouter une ville</div>
          <div class="flex-1 flex justify-end">
            <button (click)="onClose()" type="reset" ibmButton="ghost" size="sm" class="cds--btn--icon-only custom-ghost-close">
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32"></youpez-ibm-icon>
            </button>
          </div>
        </div>
        <div fxFlex>
          <div class="app-content app-content--default">
            <div class="app-form">
              <div class="app-form__item">
                <ibm-label helperText="" [invalid]="isValid('fullName')" [invalidText]="'Nom du ville obligatoire'">
                  Nom ville <span class="text-red-600">*</span>
                  <input formControlName="fullName" ibmText size="md" theme="dark">
                </ibm-label>
              </div>

              <div fxLayout="row wrap" class="app-form__row">
                <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                  <ibm-label> Longitude<span class="text-red-600">*</span>
                    <ibm-number class="mt-2" [helperText]="''" [theme]="'dark'" [min]="1" [invalid]="false"
                      [invalidText]="''" [size]="'md'" formControlName="long" [disabled]="false">
                    </ibm-number>
                  </ibm-label>
                </div>
                <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                      <ibm-label> Latitude<span class="text-red-600">*</span>
                        <ibm-number class="mt-2" [helperText]="''" [theme]="'dark'" [min]="1" [invalid]="false"
                          [invalidText]="''" [size]="'md'" formControlName="lat" [disabled]="false">
                        </ibm-number>
                      </ibm-label>
                </div>    
              </div>
            </div>           
      
          </div>
        </div>
        <div class="px-4 py-4 flex justify-end app-border-t">
          <button (click)="onClose()" type="reset" ibmButton="secondary" size="md" class="mr-1 btn-annuler">
            Annuler
          </button>
          <button ibmButton="primary" class="custom-primary-button" size="md" [disabled]="waittingResponse || formGroup.invalid" type="submit">
            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
            <ng-template #noWaitingResponse>
              <span class="btn-text">Ajouter</span>
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="add" iconSize="20"></youpez-ibm-icon>

            </ng-template>
          </button>
        </div>
      </div>
      
  </form>
 