    <div fxLayout="column">
    
    <div fxFlex="100%" class="w-full shadow-md app-card row" *ngIf="currentPeriod">
        <div class="app-card__header header-footer-billing">
            <div class="app-row app-row--center  p-2">
                <div>
                    <div class="app-expressive-heading-03 font-bold mb-2">{{ 'BILLING.INVOICE.CURRENT_PERIOD_INVOICE' | translate }}</div>
                    <div class="app-label-01">{{ currentPeriod?.billingRef || ('BILLING.INVOICE.REFERENCE_NOT_AVAILABLE' | translate) }} - {{ formatPeriodDates() }}</div>


                </div>
            </div>
        </div>
    
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2">
            <div fxFlex="100%" fxFlex.gt-md="33.33%" class="app-card__block">
                <div class="flex justify-between">
                    <div>
                        <div class="app-productive-heading-03 mb-2">{{ 'BILLING.INVOICE.INVOICE_ID' | translate }}</div>
                        <div class="app-label-01">{{currentPeriod.billingRef}}</div>
                    </div>   
                </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="33.33%" class="app-card__block">
                <div class="flex justify-between">
                    <div>
                        <div class="app-productive-heading-03 mb-2">{{ 'BILLING.INVOICE.BILLING_PERIOD' | translate }}</div>
                        <div class="app-label-01">{{currentPeriod.startedAt | date:'d MMMM'}} - {{currentPeriod.endedAt | date:'d MMMM YYYY'}}</div>
                    </div>
                </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="33.33%" class="app-card__block">
                <div class="flex justify-between state-billing">
                    <div>
                        <div class="app-productive-heading-03">{{ 'BILLING.INVOICE.INVOICE_STATUS' | translate }}</div>
                    </div>
                    <ng-container [ngSwitch]="currentPeriod.state">
                        <div *ngSwitchCase="'payed'" class="app-row app-row--center app-color-success">
                            <span class="mr-1">{{ 'BILLING.INVOICE.PERIOD_STATUS.PAID' | translate }}</span>
                            <youpez-ibm-icon iconName="checkMarkOutline" iconSize="32"></youpez-ibm-icon>
                        </div>
                        <div *ngSwitchCase="'waiting'" class="app-row app-row--center">
                            <span class="mr-1">{{ 'BILLING.INVOICE.PERIOD_STATUS.WAITING' | translate }}</span>
                            <youpez-ibm-icon iconName="warningMarkOutline" iconSize="32"></youpez-ibm-icon>
                        </div>
                        <div *ngSwitchCase="'unpaid'" class="app-row app-row--center app-color-danger">
                            <span class="mr-1">{{ 'BILLING.INVOICE.PERIOD_STATUS.UNPAID' | translate }}</span>
                            <youpez-ibm-icon iconName="closeOutline" iconSize="32"></youpez-ibm-icon>
                        </div>
                        <div *ngSwitchCase="'should_not_payed'" class="app-row app-row--center app-color-info">
                            <span class="mr-1">{{ 'BILLING.INVOICE.PERIOD_STATUS.FREE' | translate }}</span>
                            <youpez-ibm-icon iconName="gift" iconSize="32"></youpez-ibm-icon>
                        </div>
                        <div *ngSwitchDefault class="app-row app-row--center">
                            <span class="mr-1">{{ getPeriodStatus() }}</span>
                            <youpez-ibm-icon iconName="warningMarkOutline" iconSize="32"></youpez-ibm-icon>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2">
            <div fxFlex="100%" fxFlex.gt-md="50%" class="app-card__block">
                <div class="flex justify-end">
                    <div>
                        <div class="app-label-01 mb-2">{{ 'BILLING.INVOICE.SERVICE_PROVIDER' | translate }}</div>
                        <div class="app-productive-heading-05 fond-bold ">Ndewa360</div>
                    </div>   
                </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="50%" class="app-card__block">
                <div class="flex justify-end">
                    <div>
                        <div class="app-label-01 mb-2">{{ 'BILLING.INVOICE.TOTAL_FCFA' | translate }}</div>
                        <div class="app-productive-heading-03 fond-extrabold ">
                            <span *ngIf="getTotalServiceFees() === 0; else hasMoney">0</span>
                            <ng-template #hasMoney>{{ getTotalServiceFees() | currency : getDefaultCurrency(): 'symbol' : '1.0-0' }} </ng-template>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2 header-footer-billing">
            <div fxFlex="100%"  class="app-card__block">
                <div class="flex justify-end">
                    <div>
                        <button type="submit" size="lg"
                            [disabled]="currentPeriod?.state === 'payed' || currentPeriod?.state === 'should_not_payed' || !currentPeriod?.calculatedAmount"
                            (click)="payCurrentPeriod()"
                            class="custom-primary-button" ibmButton="primary">
                              <span class="btn-text">{{ 'BILLING.INVOICE.PAY_INVOICE' | translate }}</span>
                              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="money" iconSize="20"></youpez-ibm-icon>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div fxFlex="100%" class="w-full shadow-md app-card row mt-4">
        <div class="app-card__header header-footer-billing">
            <div class="app-row app-row--center  p-2">
                <div>
                    <div class="app-expressive-heading-03 font-bold mb-2">{{ 'BILLING.INVOICE.SERVICE_FEES' | translate }}</div>
                    <!-- <div class="app-label-01">Montant total des frais et d'informations de paiement</div> -->
                </div>
            </div>
        </div>
    
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2">
            <div fxFlex="100%" fxFlex.gt-md="50%" class="">
                <div class="flex justify-between app-card__block">
                    <div>
                        <div class="app-label-04 mb-2">{{ 'BILLING.INVOICE.TOTAL_ACTIVE_PROPERTIES' | translate }}</div>
                        <div class="app-productive-heading-03 font-bold" >{{ getOccupiedUnitsCount() }} / {{ getTotalUnitsCount() }}</div>
                    </div>   
                </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="50%" class="app-card__block">
                <div class="flex md:justify-end">
                    <div>
                        <div class="app-label-03 mb-2">{{ 'BILLING.INVOICE.SERVICE_FEES_EXCLUDING_TAX' | translate: {currency: getDefaultCurrency()} }}</div>
                        <div class="app-productive-heading-03 font-bold text-end">
                            <span *ngIf="getTotalServiceFees() === 0; else hasMoneyService">0</span>
                            <ng-template #hasMoneyService>{{ getTotalServiceFees() | currency : getDefaultCurrency(): 'symbol' : '1.0-0' }} </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2">
            <ibm-table-container class="w-full">
                        
                <ng-template #dateEntryTemplate let-data="data">
                    {{data | date:'mediumDate'}}
                </ng-template>
        
                <ng-template #roomTemplate let-data="data">
                        <ng-container [ngSwitch]="data.type">
                            <span *ngSwitchCase="'room'">{{ 'BILLING.INVOICE.ROOM_TYPES.ROOM' | translate: {code: data["code"]} }}</span>
                            <span *ngSwitchCase="'studio'">{{ 'BILLING.INVOICE.ROOM_TYPES.STUDIO' | translate: {code: data["code"]} }}</span>
                            <span *ngSwitchCase="'simple_apartment'">{{ 'BILLING.INVOICE.ROOM_TYPES.SIMPLE_APARTMENT' | translate: {code: data["code"]} }}</span>
                            <span *ngSwitchCase="'furnished_apartment'">{{ 'BILLING.INVOICE.ROOM_TYPES.FURNISHED_APARTMENT' | translate: {code: data["code"]} }}</span>
                        </ng-container>
                </ng-template>

                <ng-template #propertyTemplate let-data="data">
                    <ng-container *ngIf="(getPropertyById(data) | async ) as propertyData">
                        {{propertyData["name"]}}
                    </ng-container>
                </ng-template>
        
                <ng-template #actionTemplate let-data="data" >
                    <div class="flex" *ngIf="data.room.isFree">
                        <div fxLayout="row wrap" class="app-form__row" >
                            <div fxFlex="80%" class="app-form__item">
                              <ibm-toggle (checkedChange)="changeStatusRoom($event,data.roomId)" [disabled]="data.isLoading | async"    [onText]="'BILLING.INVOICE.TOGGLE_STATUS.ACTIVE' | translate" [offText]="'BILLING.INVOICE.TOGGLE_STATUS.INACTIVE' | translate" [checked]="data.value | async" size="md">
                              </ibm-toggle>
                            </div>
                            <div *ngIf="data.isLoading | async" fxFlex="20%" class="app-form__item align-middle pt-4 pl-3" >
                                <img src="./../../../../../assets/img/utils/loading-gif.gif" width="20" alt="" srcset="">
                              </div>
                          </div>
                        <!-- formControlName="isInternalKitchen"  <div class="app-mini-sidebar__list__item__pill mr-2"  (click)="removeAssignLocationRoom(data.location)"  container="body" ngbTooltip="Mettre fin à la location">
                            <mat-icon svgIcon="person_remove_alt_1" class="text-red"></mat-icon>
                        </div> -->
                        <!--   -->
                    </div>
                </ng-template>
            
                <div >
                    <ibm-table
                    class="w-full"
                    [model]="model"
                    [size]="size"
                    [skeleton]="skeleton"
                    [showSelectionColumn]="false"
                    [enableSingleSelect]="false"
                    (rowClick)="onRowClick($event)"
                    [sortable]="sortable"
                    [stickyHeader]="stickyHeader"
                    [striped]="striped"
                    [isDataGrid]="isDataGrid"
                    (sort)="simpleSort($event)">
                    <ng-content></ng-content>
                </ibm-table>
                </div>
            
                <ng-template #customTrigger>
                    <svg ibmIconSettings size="16"></svg>
                </ng-template>
                <ibm-pagination [model]="model" (selectPage)="selectPage($event)"></ibm-pagination>
            </ibm-table-container>
        </div>
    
        <div fxLayout="row wrap" class="app-card__blocks app-border-t p-2 header-footer-billing">
            <div fxFlex="100%" fxFlex.gt-md="50%" >
                <div class="flex justify-between app-card__block">
                    <div>
                        <div class="app-productive-heading-03 fond-extrabold">{{ 'BILLING.INVOICE.TOTAL_TAXES' | translate }}</div>
                    </div>   
                </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-md="50%" class="app-card__block">
                <div class="flex md:justify-end">
                    <div>
                        <div class="app-productive-heading-03 fond-extrabold ">
                            <span *ngIf="getTotalTaxes() === 0; else hasMoney2">0</span>
                            <ng-template #hasMoney2>{{ getTotalTaxes() | currency : getDefaultCurrency(): 'symbol' : '1.0-0' }} </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>