<!-- <ng-container *ngIf="!(hasLoading$ | async) else dataToShow;">
    <div class="app-a-box app-scrollbar-fix">
        <div fxFill fxLayout="column">
            <youpez-loader></youpez-loader>

        </div>
    </div>
</ng-container>
<ng-template #dataToShow> -->
    <ng-scrollbar>

    <div fxFill fxLayout="row wrap">
        <div class="flex flex-col" fxFlex="100%" fxFlex.gt-md="20%">
            <div class=" ml-10">
                <div class="app-content pl-6 pt-2">
                    <div class="pt-5">
                        <!-- <youpez-logo class="cursor-pointer" logoWidth="200px"></youpez-logo> -->
                        <youpez-logo class="cursor-pointer" type="white" logoWidth="200px"></youpez-logo>
                    </div>
                </div>
            </div>

            <div fxFlex="100%">
                <div class=" ml-10 app-docs-list-holder app-sidenav-v2 app-sidenav-v2--solid-border app-sidenav-v2--rendered app-sidenav-v2--opened app-sidenav-v2--left app-sidenav-v2--hoverAble"
                    style="" [ngClass.lt-lg]="{'app-bg-container':true,'app-docs-list-holder--opened app-border-r':opened}">                    

                    <div class=" app-bg-container app-border-b app-card bg-white  app-a-box app-scrollbar-fix">
                        <div class=" app-nav-list app-content  w-64 ">
                            <!-- app-content--default mt-24-->
                            <div class="app-border-b flex items-center p-4 ">
                                <div class="mr-4">
                                    <div>
                                        <div class="app-expressive-heading-02">Administration</div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4">
                                <ng-container *ngFor="let section of sectionUtils;">
                                    <div class="app-nav-list__item ">
                                        <div class="app-nav-list__item__group">{{section.name}}</div>
                                        <div class="app-nav-list__children">
                                            <ng-container *ngFor="let section of section.children">
                                                <div class="app-nav-list__item__text" [routerLink]="section.path"
                                                    [routerLinkActive]="'app-nav-list__item__text--selected'">
                                                    {{section.name}}</div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="70%" class="app-content app-content--default mt-10 ml-5 w-full">

            <!-- <div class="sm:col-span-3 mb-6">
                    <youpez-alert [appearance]="'outline'" [type]="'warning'">
                        Veuillez activer le plan Pro pour bénéficier de l'ensemble des fonctionnalités de l'application. <a
                            [routerLink]="'/app/facturation/choix-plan'">Cliquez ici pour activer</a>
                    </youpez-alert>
                </div> -->

            <router-outlet></router-outlet>

        </div>
    </div>
</ng-scrollbar>

<!-- </ng-template> -->