<form [formGroup]="formGroup" (ngSubmit)="callToSubmitSearch()">
    <div fxFlex="100%" >
        <div class="ml-2 mr-2 md:ml-10 mt-16 app-docs-list-holder app-sidenav-v2 app-sidenav-v2--solid-border app-sidenav-v2--rendered app-sidenav-v2--opened app-sidenav-v2--left app-sidenav-v2--hoverAble"
            style="" [ngClass.lt-lg]="{'app-bg-container':true,'app-docs-list-holder--opened app-border-r':opened}">
            <div class=" app-bg-container app-border-b app-card bg-white  ">
                <div class=" app-nav-list app-content ">
                    <!-- app-content--default mt-24-->
                    <div class="app-border-b flex items-center justify-between p-4 ">
                        <!-- <div class="mr-4"> -->
                            <div>
                                <div class="app-expressive-heading-02">Filtre de recherche</div>
                            </div>
                            <div class="cursor-pointer">
                                <youpez-ibm-icon *ngIf='showFilteredForm else noShowFilteredForm' (click)="onToggleFilterSearch()" iconClass="cds--btn__icon" iconName="chevronUpOutline" iconSize="24" ></youpez-ibm-icon >
                                <ng-template #noShowFilteredForm>
                                    <youpez-ibm-icon iconClass="cds--btn__icon" (click)="onToggleFilterSearch()" iconName="chevronDownOutline" iconSize="24" ></youpez-ibm-icon >
                                </ng-template>
                            </div>
                        <!-- </div> -->
                    </div>
                    <!-- <ng-scrollbar> -->
                        <div class="p-4 app-border-b" *ngIf="showFilteredForm">
                            <div class="app-nav-list__item ">
                                <div class="app-nav-list__item__group filter-title">Type de bien</div>
                                <div class="app-nav-list__children">
                                    <div class="app-nav-list__item filter-item">
                                        <ibm-combo-box class="mt-2" [items]="roomListType"
                                            (selected)="onSelectedType($event)" theme="dark" size="md">
                                            <ibm-dropdown-list></ibm-dropdown-list>
                                        </ibm-combo-box>
                                    </div>
                                </div>
                            </div>
                            <div class="app-nav-list__item ">
                                <div class="app-nav-list__item__group filter-title">Localisation</div>
                                <div class="app-nav-list__children">
                                    <div class="app-nav-list__item filter-item">
                                        <span>Ville</span>
                                        <ibm-combo-box [disabled]="false" [invalid]="false" [size]="'lg'" formControlName="ville"
                                            [appendInline]="false" [invalidText]="''" [helperText]="''"
                                            [items]="villeList" [theme]="'dark'">
                                            <ibm-dropdown-list></ibm-dropdown-list>
                                        </ibm-combo-box>
                                    </div>
                                </div>
                            </div>

                            <div class="app-nav-list__item mt-30 ">
                                <div class="app-nav-list__item__group filter-title ">Plage de prix (FCFA)</div>
                                <div class="app-nav-list__children">
                                    <div class="app-nav-list__item filter-item">
                                        <div fxLayout="row wrap" class=" flex justify-between">
                                            <div fxFlex="100%" fxFlex.gt-md="45%">
                                                <ibm-label> Min 
                                                    <input ibmText formControlName="minPrice" size="md" theme="dark">
                                                  </ibm-label>
                                            </div>
                                            <div fxFlex="100%" fxFlex.gt-md="45%" >
                                              <ibm-label> Max
                                                <input ibmText formControlName="maxPrice" size="md" theme="dark">
                                              </ibm-label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="app-nav-list__item ">
                                <div class="app-nav-list__item__group filter-title">
                                    <div class="flex items-center justify-between">
                                        <span>Spécificité</span>
                                        <div class="cursor-pointer">
                                            <youpez-ibm-icon *ngIf='showFilteredSpecificityForm else noShowFilteredSpecificityForm' (click)="onToggleSepcifity()" iconClass="cds--btn__icon" iconName="closeOutline" iconSize="24" ></youpez-ibm-icon >
                                            <ng-template #noShowFilteredSpecificityForm>
                                                <youpez-ibm-icon iconClass="cds--btn__icon" (click)="onToggleSepcifity()" iconName="addAlt" iconSize="24" ></youpez-ibm-icon >
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-nav-list__children" *ngIf="showFilteredSpecificityForm">
                                    <div class="app-nav-list__item filter-item">
                                        <ng-container formGroupName="specifity">
                                            <div fxLayout="row wrap" class="app-form__row">
                                                <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                                                    <ibm-toggle formControlName="hasClosure"
                                                        [label]="'Est dans une bariére'" [onText]="'Oui'"
                                                        [offText]="'Non'" [checked]="false" size="md">
                                                    </ibm-toggle>
                                                </div>
                                                <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                                                    <ibm-toggle formControlName="hasParking"
                                                        [label]="'Posséde un parking'" [onText]="'Oui'"
                                                        [offText]="'Non'" [checked]="false" size="md">
                                                    </ibm-toggle>
                                                </div>
                                            </div>

                                            <div fxLayout="row wrap" class="app-form__row"
                                                *ngIf="formGroup.get('type').value=='studio'">
                                                <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                                                    <ibm-toggle formControlName="isInternalKitchen"
                                                        [label]="'Cuisine interne'" [onText]="'Oui'" [offText]="'Non'"
                                                        [checked]="false" size="md">
                                                    </ibm-toggle>
                                                </div>
                                                <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                                                    <ibm-toggle formControlName="isInternalShower"
                                                        [label]="'Douche interne'" [onText]="'Oui'" [offText]="'Non'"
                                                        [checked]="false" size="md">
                                                    </ibm-toggle>
                                                </div>
                                            </div>
                                            <div *ngIf="formGroup.get('type').value=='simple_apartment'">
                                                <div fxLayout="row wrap" class="app-form__row">
                                                    <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                                                        <ibm-toggle [label]="'Cuisine iterne'" formControlName="isInternalKitchen" [onText]="'Oui'" [offText]="'Non'" [checked]="false" size="md">
                                                        </ibm-toggle>
                                                    </div>
                                                    <div fxFlex="100%" class="app-form__item" fxFlex.gt-md="50%">
                                                        <ibm-toggle formControlName="isInternalShower"
                                                            [label]="'Douche interne'" [onText]="'Oui'"
                                                            [offText]="'Non'" [checked]="false" size="md">
                                                        </ibm-toggle>
                                                    </div>
                                                    <div fxFlex="100%" class="app-form__item">
                                                        <ibm-label> Nombre de douche<span class="text-red-600">*</span>
                                                            <ibm-number class="mt-2" [helperText]="''" [theme]="'dark'"
                                                                [min]="1" [invalid]="false" [invalidText]="''"
                                                                [size]="'md'" formControlName="numberOfShower"
                                                                [disabled]="false">
                                                            </ibm-number>
                                                        </ibm-label>
                                                    </div>
                                                </div>
                                                <div fxLayout="row wrap" class="app-form__row">
                                                    <div fxFlex="100%" class="app-form__item">
                                                        <ibm-label> Nombre de chambre<span class="text-red-600">*</span>
                                                            <ibm-number class="mt-2" [helperText]="''" [theme]="'dark'"
                                                                [min]="2" [invalid]="false" [invalidText]="''"
                                                                [size]="'md'" formControlName="numberOfBathroom"
                                                                [disabled]="false">
                                                            </ibm-number>
                                                        </ibm-label>
                                                    </div>
                                                    <div fxFlex="100%" class="app-form__item">
                                                        <ibm-label> Nombre de salon<span class="text-red-600">*</span>
                                                            <ibm-number class="mt-2" [helperText]="''" [theme]="'dark'"
                                                                [min]="2" [invalid]="false" [invalidText]="''"
                                                                [size]="'md'" formControlName="numberOfLivingRoom"
                                                                [disabled]="false">
                                                            </ibm-number>
                                                        </ibm-label>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-form__submit p-4 flex justify-end">
                            <!--  -->
                            <button type="submit"  class=" custom-primary-button" [disabled]="waittingResponse" ibmButton="primary" >
                              <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
                              <ng-template #noWaitingResponse>
                                <span class="btn-text">Appliquer</span>
                                <!-- <svg class="cds--btn__icon" ibmIconArrowRight size="sm"></svg> -->
                                <youpez-ibm-icon iconClass="cds--btn__icon" iconName="checkmark" iconSize="32" ></youpez-ibm-icon >
                              </ng-template>
                            </button>
                          </div>
                    <!-- </ng-scrollbar> -->
                </div>
            </div>
        </div>

    </div>
</form>