<div class="fullscreen-overlay" (click)="closeModal()">
  <div class="gallery-content" (click)="$event.stopPropagation()">

    <!-- Bouton de fermeture -->
    <button class="close-btn" (click)="closeModal()">✖</button>

    <!-- Affichage média -->
    <div class="media-container">
      <ng-container *ngIf="imagesFound.length">
        <ng-container *ngFor="let media of imagesFound; let i = index">
          
          <!-- Image -->
          <img *ngIf="media.type === 'image'"
               [src]="imagesFound[currentIndex].url"
               class="media-img"
               [class.active]="i === currentIndex" />

          <!-- Vidéo -->
          <video *ngIf="media.type === 'video'"
                 [src]="imagesFound[currentIndex].url"
                 controls
                 class="media-video"
                 [class.active]="i === currentIndex"></video>

          <!-- Panorama -->
          <div *ngIf="media.type === 'panorama'"
               #panoramaContainer
               class="media-panorama"
               [class.active]="i === currentIndex"></div>

        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="isLoading" class="loader-overlay">
        <div class="loader"></div>
    </div>
    <!-- Navigation -->
    <button *ngIf="shouldShowNavSlider" class="nav left" (click)="prevSlide($event)">❮</button>
    <button *ngIf="shouldShowNavSlider" class="nav right" (click)="nextSlide($event)">❯</button>

    <!-- Indicateurs -->
    <div class="indicators">
      <span
        *ngFor="let img of imagesFound; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
      ></span>
    </div>
  </div>
</div>
