

<div id="default-carousel" class="relative w-full h-screen overflow-hidden " >
    <button (click)="closeModal()" type="button" class="absolute btn-text-edit-nav btn-close top-1/2 right-0  z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" v>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full  ">
            <!-- <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg> -->
            <youpez-ibm-icon class="location-icon home-romm text-white" iconClass="text-white" iconName="close" iconSize="32"></youpez-ibm-icon>
            

            <span class="sr-only">Close</span>
        </span>
    </button>

    <!-- Carousel wrapper relative h-full overflow-hidden absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2-->
    <div class="flex transition-transform duration-500 ease-in-out h-full" [ngStyle]="{ transform: 'translateX(' + (-currentIndex * 100) + '%)' }">
         <!-- Item 1 -->
        <div class=" h-full w-full flex-shrink-0" *ngFor="let image of imagesFound">
            <img [src]="image.url" class="md:h-full block w-full " alt="..." *ngIf="image.type=='image'">
            <video *ngIf="image.type=='video'" class="md:h-full w-full"  loop muted controls>
                <source [src]="image.url"  />
            </video>
            <galery-video360-item [isFullScreen]='true' class="md:h-full block" [urlFile]="image.url" *ngIf="image.type=='panorama'"></galery-video360-item>
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute bottom-0 mb-10 ml-10 z-30 flex -translate-x-1/2 bottom-5 left-1/2 content-center space-x-3 rtl:space-x-reverse">
        <button type="button"  class="w-3 h-3 cursor-pointer rounded-full btn-text-edit-nav btn-slider" *ngFor="let btn of images;let i=index" aria-current="true" [ngClass]="{'active':i==currentIndex}" aria-label="Slide 1" (click)="goToSlide(i)" [attr.data-carousel-slide-to]="i"></button>
    </div>
    <div class="nav-button-change-slider group-hover:visible " *ngIf="imagesFound.length>0">
        <button type="button" (click)="prevSlide($event)" class="absolute btn-text-edit-nav rounded-full top-1/2 start-0 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" v>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full  ">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button  (click)="nextSlide($event)" type="button" class="absolute btn-text-edit-nav rounded-full top-1/2 end-0 right-0 z-30 flex items-center justify-center cursor-pointer group focus:outline-none" >
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full  ">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</div>
