<ng-template #invalidText>
    <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded"/>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
        <div class="px-4 py-4 flex">
          <div class="app-productive-heading-03 font-bold">Fin de location</div>
          <div class="flex-1 flex justify-end">
            <button (click)="onClose()" ibmButton="ghost" size="sm" class="cds--btn--icon-only custom-ghost-close">
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32" ></youpez-ibm-icon >
            </button>
          </div>
        </div>
        <div fxFlex>
          <div class="app-content app-content--default">
            <div class="app-form">
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label> Numéro de l'unité
                          <input
                            ibmText
                            disabled
                            [value]="'#'+(room$ | async)?.code"
                            size="md"
                            theme="dark">
                        </ibm-label>        
                    </div>
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label> Locataire
                          <input
                            ibmText
                            [value]="(locataire$ | async)?.fullName"
                            disabled
                            size="md"
                            theme="dark">
                        </ibm-label>        
                    </div>                    
                </div>
                <div class="sm:col-span-3 mb-6">
                    <youpez-alert
                        [appearance]="'outline'"
                        [type]="'error'">
                        Vous êtes sur le point de retirer un locataire d'une unité. Cela mettra fin a son contrat de location et liberera l'unité.
                        Confirmer l'action pour continuer
                    </youpez-alert>
                </div>
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" class="app-form__item">
                        <ibm-toggle
                            [label]="'Je confirme que le locataire ne dispose plus du bien'"
                            [onText]="'Oui je confirme'"
                            [offText]="'Non je ne confirme pas'"
                            [checked]="false"
                            formControlName="confirm"
                            size="md">
                        </ibm-toggle>
                    </div>
                </div>   
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" class="app-form__item">
                        <ibm-label
                        [helperText]="''">
                        Raison de fin de location
                        <textarea
                            ibmTextArea
                            formControlName="description"
                            class="textarea-field"
                            theme="dark"
                            [rows]="3"
                            [cols]="3"
                            aria-label="textarea"></textarea>
                        </ibm-label>
                    </div>
                </div>      
                
            </div>
      
          </div>
        </div>
        <div class="px-4 py-4 flex justify-end app-border-t">
          <button (click)="onClose()"
                  ibmButton="secondary"
                  size="md"
                  class="mr-1">
            Annuler
          </button>
          <button ibmButton="danger" size="md" [disabled]="waittingResponse || formGroup.invalid" type="submit">
            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
            <ng-template #noWaitingResponse>
              <span class="btn-text">Terminer</span>
              <mat-icon svgIcon="person_remove_alt_1" ></mat-icon>

              <!-- <youpez-ibm-icon iconClass="cds--btn__icon" iconName="add" iconSize="20" ></youpez-ibm-icon > -->
            </ng-template>
          </button>
        </div>
      </div>
      
  </form>
 