<div class="baniere flex flex-col">
    <div class="flex flex-col mt-32 leading-normal" >
        <div class="first-titre text-center mb-16 sm:mb-4">
            <span class="first-titre-first-part">{{ 'LANDING.HERO.TITLE_PART1' | translate }} <span class="first-titre-second-part">{{ 'LANDING.HERO.TITLE_PART2' | translate }}</span> </span>
        </div>
        <div class="text-center second-titre">
            <span>{{ 'LANDING.HERO.SUBTITLE' | translate }}</span>
        </div>
    </div>
    
    <div class="mt-8" >
        <find-and-manage-component></find-and-manage-component>
    </div>
</div>