<div class="baniere flex flex-col">
    <div class="flex flex-col mt-32 leading-normal" >
        <div class="first-titre text-center mb-16 sm:mb-4">
            <span class="first-titre-first-part">Trouvez votre <span class="first-titre-second-part">Chez-vous</span> </span>
        </div>
        <div class="text-center second-titre">
            <span>Gérez vos biens immobiliers sans stress avec la solution la plus complète du marché</span>
        </div>
    </div>
    
    <div class="mt-8" >
        <find-and-manage-component></find-and-manage-component>
    </div>
</div>