.first-titre {
    font-weight: bold;
    font-size: 83px;
}

.first-titre-first-part {
    color:white;
}

.first-titre-second-part{
    color: #BB8910;
    text-shadow:  
    -1px -1px 0 white,  
    1px -1px 0 white,  
    -1px 1px 0 white,  
    1px 1px 0 white; /* Bordure blanche */
    /* -webkit-text-stroke: 1px white; */
}

.second-titre {
    font-weight: bold;
    font-size: 35px;
    color: white;
    font-family: 'Inria Sans';
}

.baniere {
    min-height: 100vh;
    background-image: url("/assets/landing/analog-landscape-city-with-buildings.jpg");
    background-size: cover;
}

.baniere::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste l'opacité ici */
    z-index: 1;
  }

  .baniere * {
    position: relative;
    z-index: 2; /* Met le texte et le contenu au-dessus de l'overlay */
  }

  @media only screen and (max-width: 1300px) {
    .baniere {
        margin-bottom: 45px;
    }
}