.cds--loading__stroke
{
    stroke: #f1c21b !important;
}
.cds--loading
{
    width: 20px !important;
    height: 20px !important;
    display: inline-block;    
    margin-left: 20px;
}

.btn-text, .cds--loading{
    vertical-align: center;
}

.type_bien_label label
{
    width: 100%;
}

.trash-icon-svg
{
    width: 150px;
}