<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" type="white" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1">{{ 'AUTH.RESET_PASSWORD_TITLE' | translate }}</h1>
<div class="app-body-long-02 mb-8">
  {{ 'AUTH.RESET_PASSWORD_SUBTITLE' | translate }}
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="app-form">
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('password')"
        [invalidText]="'AUTH.PASSWORD_REQUIRED' | translate">
        {{ 'AUTH.PASSWORD' | translate }}
        <input
          formControlName="password"
          ibmText
          type="password"
          size="md"
          [invalid]="isValid('password')"
          [disabled]="false"
          theme="dark"
          [placeholder]="''"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValidConfirmPassword()"
        [invalidText]="getValidText()">
        {{ 'AUTH.CONFIRM_PASSWORD' | translate }}
        <input
          formControlName="passwordConfirm"
          ibmText
          type="password"
          size="md"
          [invalid]="isValid('passwordConfirm')"
          [disabled]="false"
          theme="dark"
          [placeholder]="''"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__submit">
      <button type="submit" size="md" class="app-ibm-btn-full custom-primary-button" [disabled]="waittingResponse || formGroup.invalid" ibmButton="primary" >
        <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
        <ng-template #noWaitingResponse>
          <span class="btn-text">{{ 'AUTH.RESET_PASSWORD_BUTTON' | translate }}</span>
          <youpez-ibm-icon iconClass="cds--btn__icon" iconName="arrowRight" iconSize="20" ></youpez-ibm-icon >
        </ng-template>
      </button>
    </div>
  </div>
</form>
<div class="mt-8">
  {{ 'AUTH.BACK_TO' | translate }} <a class="app-link" routerLink="../signin">{{ 'AUTH.SIGN_IN' | translate }}</a>
</div>
