<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" type="white" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1">Reset your password</h1>
<div class="app-body-long-02 mb-8">
  Create un nouveau mot de passe pour votre compte
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="app-form">
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('password')"
        [invalidText]="'This field is required'">
        Mot de passe
        <input
          formControlName="password"
          ibmText
          type="password"
          size="md"
          [invalid]="isValid('password')"
          [disabled]="false"
          theme="dark"
          [placeholder]="''"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValidConfirmPassword()"
        [invalidText]="getValidText()">
        Confirmer votre mot de passe
        <input
          formControlName="passwordConfirm"
          ibmText
          type="password"
          size="md"
          [invalid]="isValid('passwordConfirm')"
          [disabled]="false"
          theme="dark"
          [placeholder]="''"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__submit">
      <button type="submit" size="md" class="app-ibm-btn-full custom-primary-button" [disabled]="waittingResponse || formGroup.invalid" ibmButton="primary" >
        <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
        <ng-template #noWaitingResponse>
          <span class="btn-text">Rienitialiser mon mot de passe</span>
          <youpez-ibm-icon iconClass="cds--btn__icon" iconName="arrowRight" iconSize="20" ></youpez-ibm-icon >
        </ng-template>
      </button>
    </div>
  </div>
</form>
<div class="mt-8">
  Return to <a class="app-link" routerLink="../signin">Sign In</a>
</div>
