<youpez-sidenav-container #panelLocation panel="panel">
    <youpez-sidenav
          [breakpoint]="'lg'"
          [direction]="'right'"
          [opened]="isAssignedOpened"
          (visibleChange)="isAssignedOpened=$event"
          [mode]="'over'"
          [toggleableBtn]="true"
          (close)="onClose($event)"
          [size]="'lg'">
        <assign-location [locataireSelected]="locataireSelected" [sideNavBarElement]="panelLocation" [isAssignedOpened]="isAssignedOpened" [property]="property"></assign-location>
    </youpez-sidenav>
<div fxLayout="row wrap">
    <div fxFlex="100%" class="relative">
      <div class="app-ibm-h-full mb-6 relative" style="height:400px; width: 100%;">
        <!-- <app-dummy-table-advanced></app-dummy-table-advanced> -->
        <app-locataire-property-list (selectedLocataireEvent)="onSelectedLocataire($event)" [propertyId]="propertyId"></app-locataire-property-list>
      </div>
    </div>
</div>
</youpez-sidenav-container>
