<div fxFill fxLayout="column">
  <div fxFlex class="app-relative">
    <div class="app-a-box app-scrollbar-fix">
      <ng-scrollbar>
        <div class="app-mini-sidebar__list">
          <div class="app-mini-sidebar__list__item app-mini-sidebar__list__item__highlight" [routerLink]="routerLinkRoute">
            <div class="app-mini-sidebar__list__item__pill" placement="right" container="body">
              <!-- <youpez-ibm-icon iconName="search" iconSize="24"></youpez-ibm-icon> -->
              <youpez-logo type="nobg-white-sidebar" logoWidth="55px"></youpez-logo>
            </div>
          </div>

          <ng-container  *ngIf="userProfile$ | async">
            <div  (click)="onItemClick({key:'search'})" class="app-mini-sidebar__list__item app-mini-sidebar__list__item__highlight">
              <div class="app-mini-sidebar__list__item__pill" placement="right" container="body"
                [ngbTooltip]="'SIDEBAR.GLOBAL_SEARCH' | translate">
                <youpez-ibm-icon id="search-menu-btn" iconName="search" iconSize="24"></youpez-ibm-icon>
              </div>
            </div>
            <div *ngIf="canAccessProperties" (click)="navigateToProperties()"
              class="app-mini-sidebar__list__item app-mini-sidebar__list__item__highlight"
              [ngClass]="{'app-mini-sidebar__list__item__active': isRouteActive('/app/properties')}">
              <div class="app-mini-sidebar__list__item__pill" placement="right" container="body"
                [ngbTooltip]="'SIDEBAR.PROPERTIES' | translate">
                <youpez-ibm-icon id="home-menu-btn" iconName="home" iconSize="24"></youpez-ibm-icon>
              </div>
            </div>
            <div (click)="navigateToBilling()"
              class="app-mini-sidebar__list__item app-mini-sidebar__list__item__highlight"
              [ngClass]="{'app-mini-sidebar__list__item__active': isRouteActive('/app/facturation')}">
              <div class="app-mini-sidebar__list__item__pill" placement="right" container="body" [ngbTooltip]="'SIDEBAR.BILLING' | translate">
                <youpez-ibm-icon id="billing-menu-btn" iconName="dashboardReference" iconSize="24"></youpez-ibm-icon>
              </div>
            </div>
            <div *ngIf="!isAgent" (click)="navigateToContractTemplates()"
              class="app-mini-sidebar__list__item app-mini-sidebar__list__item__highlight"
              [ngClass]="{'app-mini-sidebar__list__item__active': isRouteActive('/app/contract-templates')}">
              <div class="app-mini-sidebar__list__item__pill" placement="right" container="body" [ngbTooltip]="'SIDEBAR.CONTRACT_TEMPLATES' | translate">
                <youpez-ibm-icon id="contract-model-menu-btn" iconName="document" iconSize="24"></youpez-ibm-icon>
              </div>
            </div>
            <!-- Bouton Admin avec loader intégré -->
            <div *ngIf="isAdmin" (click)="navigateToAdmin()" 
              class="app-mini-sidebar__list__item app-mini-sidebar__list__item__highlight"
              [ngClass]="{'app-mini-sidebar__list__item__active': isRouteActive('/admin')}">
              <div class="app-mini-sidebar__list__item__pill" placement="right" container="body" [ngbTooltip]="'SIDEBAR.ADMINISTRATION' | translate">
                <youpez-ibm-icon iconName="settings" iconSize="24"></youpez-ibm-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  <div class="app-mini-sidebar__list">
    <div class="app-mini-sidebar__list__item" ngbDropdown container="body">
      <div class="app-mini-sidebar__list__item__pill" placement="right" container="body" [ngbTooltip]="'SIDEBAR.HELP' | translate"
        ngbDropdownToggle>
        <youpez-ibm-icon iconName="help" iconSize="24"></youpez-ibm-icon>
      </div>
      <div ngbDropdownMenu>
        <div class="app-list app-list--hover app-list--no-border app-list--select">
          <div class="app-list__item" ngbDropdownItem (click)="navigateToSupport()">
            <div class="px-2">
              <youpez-ibm-icon iconName="email" iconSize="20"></youpez-ibm-icon>
            </div>
            <div class="app-list__item__content">
              {{ 'SIDEBAR.SUPPORT' | translate }}
            </div>
          </div>
         
          <div class="app-list__item" ngbDropdownItem (click)="navigateToAbout()">
            <div class="px-2">
              <youpez-ibm-icon iconName="buildingInsights1" iconSize="20"></youpez-ibm-icon>
            </div>
            <div class="app-list__item__content">
              {{ 'SIDEBAR.ABOUT' | translate }}
            </div>
          </div>
          <div class="app-list__item" ngbDropdownItem (click)="navigateToPricing()">
            <div class="px-2">
              <youpez-ibm-icon iconName="tag" iconSize="20"></youpez-ibm-icon>
            </div>
            <div class="app-list__item__content">
              {{ 'SIDEBAR.PRICING' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-mini-sidebar__list__item" ngbDropdown container="body" *ngIf="userProfile$ | async">
      <div class="app-mini-sidebar__list__item__pill" (click)="onFakeLoading()" placement="right" container="body"
        [ngbTooltip]="'SIDEBAR.NOTIFICATIONS' | translate" ngbDropdownToggle>
        <youpez-ibm-icon iconName="notification" iconSize="24"></youpez-ibm-icon>
      </div>
      <div ngbDropdownMenu class="relative">
        <div fxLayout="column">
          <div class="app-list-header-alt" ngbDropdownItem>
            <div class="flex justify-between items-center">
              <div>{{ 'SIDEBAR.NOTIFICATIONS' | translate }}</div>
              <div class="app-helper-text-01 app-color-danger">+ {{notifications.length}}</div>
            </div>
          </div>
          <div fxFlex>
            <div class="relative" style="height: 220px;width: 300px">
              <div class="app-a-box app-scrollbar-fix">
                <ng-scrollbar>
                  <ng-container *ngIf="loading">
                    <div class="p-4">
                      <ibm-skeleton-text [lines]="12" [minLineWidth]="70" [maxLineWidth]="220">
                      </ibm-skeleton-text>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!loading">
                    <div class="app-list app-list--hover app-list--no-border
                    app-list--p-notifications app-list--select app-helper-text-01">
                      <ng-container *ngFor="let item of notifications">
                        <div class="app-list__item" ngbDropdownItem>
                          <div class="app-list__item__prefix">
                            <ng-container *ngIf="item.level === 'bug'">
                              <ibm-tag type="red">bug</ibm-tag>
                            </ng-container>
                            <ng-container *ngIf="item.level === 'feature'">
                              <ibm-tag type="blue">feature</ibm-tag>
                            </ng-container>
                            <ng-container *ngIf="item.level === 'accept'">
                              <ibm-tag type="green">accept</ibm-tag>
                            </ng-container>
                            <ng-container *ngIf="item.level === 'default'">
                              <ibm-tag type="cool-gray">info</ibm-tag>
                            </ng-container>
                          </div>
                          <div class="app-list__item__content overflow-hidden">
                            <div class="truncate">{{item.text}}</div>
                          </div>
                          <div class="app-list__item__suffix text-muted">
                            <div>{{item.date}}</div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </ng-scrollbar>
              </div>
            </div>
          </div>
          <div class="app-list-footer-alt text-center app-helper-text-01 mb-2" ngbDropdownItem>
            <a>{{ 'SIDEBAR.VIEW_ALL' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="app-mini-sidebar__list__item" ngbDropdown container="body" *ngIf="userProfile$ | async">
      <div class="app-mini-sidebar__list__item__pill" (click)="onFakeLoading()" placement="right" container="body"
        [ngbTooltip]="'SIDEBAR.MESSAGES' | translate" ngbDropdownToggle>
        <youpez-ibm-icon iconName="chat" iconSize="24"></youpez-ibm-icon>
      </div>
      <div ngbDropdownMenu class="relative">
        <div fxLayout="column">
          <div class="app-list-header-alt" ngbDropdownItem>
            <div class="flex justify-between items-center">
              <div>{{ 'SIDEBAR.MESSAGES' | translate }}</div>
              <div class="app-helper-text-01 app-color-success">+ {{messages.length}}</div>
            </div>
          </div>
          <div fxFlex>
            <div class="relative" style="height: 220px;width: 300px">
              <div class="app-a-box app-scrollbar-fix">
                <ng-scrollbar>
                  <ng-container *ngIf="loading">
                    <div class="p-4">
                      <ibm-skeleton-text [lines]="12" [minLineWidth]="70" [maxLineWidth]="220">
                      </ibm-skeleton-text>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!loading">
                    <div class="app-list app-list--hover app-list--select app-list--p-messages">
                      <ng-container *ngFor="let item of messages">
                        <div class="app-list__item app-list__item--align-top" ngbDropdownItem>
                          <div class="app-list__item__prefix mt-3">
                            <img [src]="item.avatar" class="w-8 h-8 rounded-full" />
                          </div>
                          <div class="app-list__item__content">
                            <div class="overflow-hidden">
                              <div class="flex items-center">
                                <ng-container *ngIf="item.read === false">
                                  <span class="w-2 h-2 app-bg-primary rounded-full inline-block mr-2"></span>
                                </ng-container>

                                <span class="app-productive-heading-01">{{item.name}}</span>
                              </div>
                              <div class="app-helper-text-01 truncate mb-1">{{item.text}}</div>
                              <div class="app-label-01">{{item.date}}</div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </ng-scrollbar>
              </div>
            </div>
          </div>
          <div class="app-list-footer-alt text-center app-helper-text-01 mb-2" ngbDropdownItem>
            <a>{{ 'SIDEBAR.VIEW_ALL' | translate }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="app-mini-sidebar__list__item" ngbDropdown container="body">
      <div class="app-mini-sidebar__list__item__pill" placement="right" container="body" [ngbTooltip]="'SIDEBAR.ACCOUNT_DETAILS' | translate"
        ngbDropdownToggle>
        <youpez-ibm-icon iconName="user" iconSize="24"></youpez-ibm-icon>
      </div>
      <div ngbDropdownMenu>
        <div class=" app-list app-list--hover app-list--select app-list--no-border app-list--p">
          
              <ng-container *ngIf="(userProfile$ | async) else noConnected">
                <div class="app-list__item app-list__item--no-p mt-2" ngbDropdownItem >
                  <div class="px-2">
                    <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatarinit.png" />
                  </div>
                  <div class="app-list__item__content mr-4">
                    <div>
                      <div class="app-helper-text-01">{{ 'SIDEBAR.LOGGED_IN_AS' | translate }}</div>
                      <div class="app-expressive-heading-02" *ngIf="userProfile$ | async as userProfil">{{userProfil.name}}</div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noConnected>
                <div class="app-list__item app-list__item--no-p mt-2" ngbDropdownItem (click)="navigateToLogin()">
                  <div class="px-2">
                    <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatarinit.png" />
                  </div>
                  <div class="app-list__item__content mr-4">
                    <div>
                      <div class="app-helper-text-01">{{ 'SIDEBAR.PLEASE_LOGIN' | translate }}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            <div class="app-list__divider"></div>
            <div class="app-list__item" ngbDropdownItem (click)="navigateToProfile()" *ngIf="userProfile$ | async">
              <div class="app-list__item__content">
                {{ 'SIDEBAR.PROFILE' | translate }}
              </div>
            </div>
          
          <!-- <div class="app-list__item" ngbDropdownItem (click)="navigateToBillingPlan()">
            <div class="app-list__item__content">
              Plan 
            </div>
          </div> -->
          <div class="app-list__item" ngbDropdownItem (click)="navigateToHome()">
            <div class="app-list__item__content">
              {{ 'SIDEBAR.HOME' | translate }}
            </div>
          </div>
          <div class="app-list__item" ngbDropdownItem (click)="goToSearchPage()">
            <div class="app-list__item__content">
              {{ 'SIDEBAR.SEARCH_SPACE' | translate }}
            </div>
          </div>          
          <ng-container  *ngIf="(userProfile$ | async)">
            <div class="app-list__divider"></div>
            <div class="app-list__item mb-2" ngbDropdownItem (click)="logout()">
              <div class="app-list__item__content">
                {{ 'SIDEBAR.LOGOUT' | translate }}
              </div>
            </div>
          </ng-container>          
        </div>
      </div>
    </div>
  </div>
</div>