<div fxFlex class="show-number">
    <div  appScrollReveal fxLayout="row wrap" class="fade-top show-number-list mt-8 mb-8" >  
        <div fxFlex="100%" fxFlex.gt-md="22%" fxFlex.sm="45%" class="first list-number">
            <div class="text-center title_img mb-2">
                <img class="show-number-img" src="assets/landing/User_Account.svg" alt="Users">
                <span class="show-number-value" [appCountUp]="100" [duration]="1000"></span>
            </div>
            <div class="text-center text-title">
                <span class="sub-text">Utilisateurs Satisfaits</span>
            </div>            
        </div>
        <div fxFlex="100%" fxFlex.gt-md="22%" fxFlex.sm="45%" class="second list-number">
            <div class="text-center title_img mb-2">
                <img class="show-number-img" src="assets/landing/pngimages/home.png" alt="Home">
                <span class="show-number-value" [appCountUp]="10" [duration]="1000"></span>
            </div>
            <div class="text-center text-title">
                <span class="sub-text">Logements Gérès</span>
            </div>             
        </div>
        <div fxFlex="100%" fxFlex.gt-md="22%" fxFlex.sm="45%" class="third list-number">
            <div class="text-center title_img mb-2">
                <img class="show-number-img" src="assets/landing/pngimages/Centralized_Network.png" alt="Users">
                <span class="show-number-value"  [appCountUp]="70" [duration]="1000"></span>
            </div>
            <div class="text-center text-title">
                <span class="sub-text">Villes Couvertes</span>
            </div>            
        </div>
        <div fxFlex="100%" fxFlex.gt-md="22%" fxFlex.sm="45%" class="quator list-number">
            <div class="text-center title_img mb-2">
                <img class="show-number-img" src="assets/landing/pngimages/Inscription.png" alt="Users">
                <span class="show-number-value" [appCountUp]="50" [duration]="1000"></span>
            </div>
            <div class="text-center text-title">
                <span class="sub-text">Note Moyenne</span>
            </div>            
        </div>
    </div>
</div>