.financial-room-grid {
  width: 100%;
  overflow-x: auto;
}
.ag-theme-balham {
  width: 100% !important;
  min-width: 0 !important;
}

  .ag-theme-balham {
    /* overflow-y: auto !important;  */
  }

.financial-room-grid  .ag-aria-description-container {
    display: none;
}

.financial-room-grid {
  /* overflow: scroll; */
}