.app-mini-sidebar-alt-holder {
    left: 0px !important;
}

.bg-red  .text-red svg {
    /* fill: rgb(220, 38, 38) !important;    */
    fill: white !important;   
}

.bg-red .text-red {
    vertical-align: middle;
}
.bg-red{
    background-color:  rgb(220, 38, 38);
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.bg-green {
    background-color: rgba(22, 163, 74,0.5);
}

.text-green {
    color: rgb(22, 163, 74) !important;   
}


.text-green svg {
    fill: rgb(22, 163, 74) !important;   
}

.text-blue svg {
    fill: rgb(37, 99, 235) !important;   
}
