<div fxFlex class="show-solution-complete leading-normal">
    <div  fxLayout="row wrap">  
        <div class="text-center mt-10 text-header" fxFlex="100%">
            <div><h1>Une Solution Complète</h1></div>
            <div class="mt-6">
                <span>Découvrez toutes les fonctionnalités qui font de Ndewa360 la plateforme préférée des propriétaires</span>
            </div>
        </div>
    </div>
    <div  fxLayout="row wrap" class="functionnality-show-list mt-16 mb-8" >  
        <div fxFlex="100%" fxFlex.gt-md="33.33%" class="first list-func-item">
            <div class="text-center title_img mb-4"><img src="assets/landing/Add_home.png" alt="Add home"></div>
            <div class="text-center text-title"><span>Gestion des Biens</span></div>
            <div>
                <ul>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Ajout et gestion facile de vos proprités</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Suivi en temps réel des disponibilités</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Photos et descriptions détaillées</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-func-item second" fxFlex="100%" fxFlex.gt-md="33.33%" >
            <div class="text-center mb-4 title_img"><img src="assets/landing/financial_check.svg" alt="Add home"></div>
            <div class="text-center text-title"><span>Suivi Financier</span></div>
            <div>
                <ul>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Tableau de bord financier en temps réel</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Gestion automatisée des paiements</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Rapports mensuels détaillés</span>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex="100%" class="list-func-item third" fxFlex.gt-md="33.33%" >
            <div class="text-center mb-4 title_img"><img src="assets/landing/Document.svg" alt="Add home"></div>
            <div class="text-center text-title"><span>Gestion Administrative</span></div>
            <div>
                <ul>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Génération automatique des contrats</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Suivi des documents importants</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>Alertes et notifications automatiques</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>