<div fxFlex class="show-solution-complete leading-normal">
    <div  fxLayout="row wrap">  
        <div class="text-center mt-10 text-header" fxFlex="100%">
            <div><h1>{{ 'LANDING.COMPLETE_SOLUTION.TITLE' | translate }}</h1></div>
            <div class="mt-6">
                <span>{{ 'LANDING.COMPLETE_SOLUTION.SUBTITLE' | translate }}</span>
            </div>
        </div>
    </div>
    <div  fxLayout="row wrap" class="functionnality-show-list mt-16 mb-8" >  
        <div fxFlex="100%" fxFlex.gt-md="33.33%" class="first list-func-item">
            <div class="text-center title_img mb-4"><img src="assets/landing/Add_home.png" alt="Add home"></div>
            <div class="text-center text-title"><span>{{ 'LANDING.COMPLETE_SOLUTION.PROPERTY_MANAGEMENT.TITLE' | translate }}</span></div>
            <div>
                <ul>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.PROPERTY_MANAGEMENT.FEATURE_1' | translate }}</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.PROPERTY_MANAGEMENT.FEATURE_2' | translate }}</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.PROPERTY_MANAGEMENT.FEATURE_3' | translate }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list-func-item second" fxFlex="100%" fxFlex.gt-md="33.33%" >
            <div class="text-center mb-4 title_img"><img src="assets/landing/financial_check.svg" alt="Add home"></div>
            <div class="text-center text-title"><span>{{ 'LANDING.COMPLETE_SOLUTION.FINANCIAL_TRACKING.TITLE' | translate }}</span></div>
            <div>
                <ul>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.FINANCIAL_TRACKING.FEATURE_1' | translate }}</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.FINANCIAL_TRACKING.FEATURE_2' | translate }}</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.FINANCIAL_TRACKING.FEATURE_3' | translate }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex="100%" class="list-func-item third" fxFlex.gt-md="33.33%" >
            <div class="text-center mb-4 title_img"><img src="assets/landing/Document.svg" alt="Add home"></div>
            <div class="text-center text-title"><span>{{ 'LANDING.COMPLETE_SOLUTION.ADMINISTRATIVE_MANAGEMENT.TITLE' | translate }}</span></div>
            <div>
                <ul>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.ADMINISTRATIVE_MANAGEMENT.FEATURE_1' | translate }}</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.ADMINISTRATIVE_MANAGEMENT.FEATURE_2' | translate }}</span>
                    </li>
                    <li>
                        <img src="assets/landing/Checkmark.svg" alt="">
                        <span>{{ 'LANDING.COMPLETE_SOLUTION.ADMINISTRATIVE_MANAGEMENT.FEATURE_3' | translate }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>