.text-red svg {
    fill: rgb(220, 38, 38) !important;   
}

.text-green svg {
    fill: rgb(22, 163, 74) !important;   
}

.text-blue svg {
    fill: rgb(37, 99, 235) !important;   
}

.no-data-loader
{
    margin-top: 10%;
    margin-left: 38%;
}

.btn-text-edit svg,
.btn-text-remove  svg,
.btn-text-image svg,
.btn-text-add-locataire svg
{
    fill: #fff;
}


.btn-text-edit.isFree {
    margin-top: 7.9em;
}

.btn-text-add-locataire {
    margin-top: 10.9em;
}

.btn-text-edit,
.btn-text-image,
.btn-text-add-locataire
{
    background-color: rgb(204, 140, 10);
}

.btn-text-edit:hover,
.btn-text-image:hover,
.btn-text-remove:hover,
.btn-text-add-locataire:hover
{
    border-width: 2px;
    border-color: #fff;
    border-style: double;
}

.btn-text-remove:hover{
    border-color: red;
}

.app-card.app-card--select:hover .nav-button-change-slider,
.app-card.app-card--select:hover .nav-button-change-fullscreen
{
    visibility: visible;
}

.btn-text-edit,
.btn-text-image,
.btn-text-remove,
.btn-text-add-locataire {
    z-index:1000 !important;
    border-color: #fff;
    cursor: pointer;
    border-width: 0px;
}