.text-red svg {
    fill: rgb(220, 38, 38) !important;   
}

.text-green svg {
    fill: rgb(22, 163, 74) !important;   
}

.text-blue svg {
    fill: rgb(37, 99, 235) !important;   
}

.no-data-loader
{
    margin-top: 10%;
    margin-left: 38%;
}

.btn-text-edit svg
{
    fill: #fff;
}

.btn-text-edit
{
    background-color: rgb(204, 140, 10);
    cursor: pointer;
}

.btn-text-edit:hover
{
    background-color: rgba(204, 140, 10,.8);
}