<button (click)="onSideBarToggle($event)" class="app-layout__header__btn app-layout__header__btn--menu">
  <!-- <youpez-ibm-icon iconName="menu"></youpez-ibm-icon> -->
  <youpez-logo type="nobg-white-sidebar" logoWidth="35px"></youpez-logo>

</button>

<div class="app-layout__header__tools">
  <button class="app-layout__header__btn app-layout__header__btn--icon" (click)="onItemClick({key:'search'})">
    <youpez-ibm-icon iconName="search" iconSize="24"></youpez-ibm-icon>
  </button>

  <button class="app-layout__header__btn app-layout__header__btn--icon" [routerLink]="'/app/properties'" [routerLinkActive]="['app-mini-sidebar__list__item__active']">
    <youpez-ibm-icon iconName="home" iconSize="24"></youpez-ibm-icon>
  </button>

  <button class="app-layout__header__btn app-layout__header__btn--icon" [routerLink]="'/app/facturation/plan'" [routerLinkActive]="['app-mini-sidebar__list__item__active']">
    <youpez-ibm-icon iconName="dashboardReference" iconSize="24"></youpez-ibm-icon>
  </button>

  <!-- Bouton notifications -->
  <button class="app-layout__header__btn app-layout__header__btn--icon notification-btn"
          (click)="toggleNotifications()"
          [class.has-notifications]="unreadNotificationsCount > 0">
    <youpez-ibm-icon iconName="notification" iconSize="24"></youpez-ibm-icon>
    <span *ngIf="unreadNotificationsCount > 0"
          class="notification-badge">
      {{ unreadNotificationsCount > 99 ? '99+' : unreadNotificationsCount }}
    </span>
  </button>

  <button *ngIf="isAdmin"  class="app-layout__header__btn app-layout__header__btn--icon" [routerLink]="'/admin'" [routerLinkActive]="['app-mini-sidebar__list__item__active']">
    <youpez-ibm-icon iconName="settings" iconSize="24"></youpez-ibm-icon>
  </button>


  <div ngbDropdown
       placement="bottom-right"
       container="body">
    <button class="app-layout__header__btn app-layout__header__btn--icon" ngbDropdownToggle>
      <youpez-ibm-icon iconName="user" iconSize="24"></youpez-ibm-icon>
    </button>
    <div ngbDropdownMenu>
      <div class="app-list app-list--hover app-list--select app-list--no-border app-list--p">
        <div class="app-list__item app-list__item--no-p" ngbDropdownItem>
          <div class="px-2">
            <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatarinit.png"/>
          </div>
          <div class="app-list__item__content mr-4">
            <div>
              <div class="app-helper-text-01">Connecté en tant que</div>
              <div class="app-expressive-heading-02" *ngIf="userProfil$ | async as userProfil">{{userProfil.name}}</div>
            </div>
          </div>
        </div>
        <div class="app-list__divider"></div>
        <div class="app-list__item" ngbDropdownItem routerLink="/app/profile">
          <div class="app-list__item__content">
            Profil
          </div>
        </div>
        <div class="app-list__item" ngbDropdownItem routerLink="/search/index">
          <div class="app-list__item__content">
            Espace de recherche
          </div>
        </div>
        <!-- <div class="app-list__item" ngbDropdownItem routerLink="/app/facturation/choix-plan">
          <div class="app-list__item__content">
            Plan
          </div>
        </div> -->
        <div class="app-list__item" ngbDropdownItem routerLink="/app/user/settings">
          <div class="app-list__item__content">
            Parametre
          </div>
        </div>
        <div class="app-list__divider"></div>
        <div class="app-list__item mb-2" ngbDropdownItem (click)="logout()">
          <div class="app-list__item__content">
            Deconnexion
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panneau de notifications -->
<app-smart-notifications
  [isOpen]="showNotifications"
  (closeRequested)="closeNotifications()">
</app-smart-notifications>
