.no-data-loader
{
    padding-left: 37%;
}

.spec-home{
    font-size: 14px;
}

.btn-text-edit
{
    background-color: rgb(204, 140, 10);
    cursor: pointer;
}

.btn-text-edit:hover
{
    background-color: rgba(204, 140, 10,.8);
}

.btn-text-edit svg
{
    fill: #fff;
}

@media only screen and (max-width: 600px) {
    .no-data-loader
    {
        padding-left: 15%;
    }

    .app-card-room, .app-card-row-room-container {
        padding-left: 0px;
    }

}