<!-- <ng-template #totalHeaderTemplate let-data="data">
    <ng-container *ngIf="data=='actions' else toLestDataUser" ><div class="w-full text-right">{{data}}</div></ng-container>
    <ng-template #toLestDataUser><div class="w-full text-left">{{data}}</div></ng-template>
  </ng-template> -->
  <ng-template #propertyTemplate let-data="data">
    <ng-container *ngIf="data | async as propertyData">
        <!-- {{propertyData.type}} -->
        <ng-container *ngSwitch="propertyData['type']">
            <span *ngSwitchCase="'room'">Chambre {{propertyData["code"]}}</span>
            <span *ngSwitchCase="'studio'">Studio #{{propertyData["code"]}}</span>
            <span *ngSwitchCase="'simple_apartment'">Apartement #{{propertyData["code"]}}</span>
            <span *ngSwitchCase="'furnished_apartment'">Apartement Meublé #{{propertyData["code"]}}</span>
        </ng-container>
    </ng-container>
  </ng-template>
  <ng-template #statusTemplate let-data="data">
    <div class="flex">
      <ng-container *ngIf="data == '0'">
        <div class="pr-3 pl-2 py-1 app-bg-success-o-30 app-color-success rounded-full flex items-center">
          OK
        </div>
      </ng-container>
      <ng-container *ngIf="data > '0'">
        <div class="pr-3 pl-2 py-1 app-bg-warning-o-20 app-color-warning rounded-full flex items-center">
          +{{data}}
        </div>
      </ng-container>
      <ng-container *ngIf="data < '0'">
        <div class="pr-3 pl-2 py-1 app-bg-danger-o-20 app-color-danger rounded-full flex items-center">
          {{data}}
        </div>
      </ng-container>
    </div>
  </ng-template>
  <ng-template #actionTemplate let-data="data" class="flex">
    <div class="app-mini-sidebar__list__item__pill mr-2"  container="body" ngbTooltip="Voir les details du locataire">
        <youpez-ibm-icon class="location-icon text-bleu cursor-pointer " iconName="view" iconSize="20"></youpez-ibm-icon>  
      </div>
      <div class="app-mini-sidebar__list__item__pill"  container="body" ngbTooltip="Ajouter un paiement">
        <youpez-ibm-icon class="location-icon text-green cursor-pointer " iconName="money" iconSize="20"></youpez-ibm-icon>  
      </div>

  </ng-template>
  
  
  <ibm-table
    [model]="model"
    [size]="size"
    [skeleton]="skeleton"
    [showSelectionColumn]="showSelectionColumn"
    [enableSingleSelect]="enableSingleSelect"
    (rowClick)="onRowClick($event)"
    [sortable]="sortable"
    [stickyHeader]="stickyHeader"
    [striped]="striped"
    [isDataGrid]="isDataGrid"
    (sort)="simpleSort($event)">
    <ng-content></ng-content>
  </ibm-table>
  
  