<ng-template #invalidText>
    <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded" />
</ng-template>
<div fxFill fxLayout="column" class="app-bg-container">
    <div class="px-4 py-4 flex">
        <!-- <div class="app-productive-heading-03 font-bold">Ajouter un bien</div> -->
        <h1 class="text-2xl font-bold ">Conditions Générales d’Abonnement</h1>

        <div class="flex-1 flex justify-end">
            <button (click)="onClose()" ibmButton="ghost" size="sm" class="cds--btn--icon-only custom-ghost-close">
                <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32"></youpez-ibm-icon>
            </button>
        </div>
    </div>
    <div #refContractBilling (scroll)="onContractScroll($event)" class="app-content bg-whiteapp-content--default bg-white overflow-y-auto max-h-full">
        <div class="inset-0 bg-opacity-75 flex justify-center items-center z-50">
            <div class=" shadow-lg p-6 ">
                <p class="text-gray-600 mb-6">
                    Bienvenue dans notre système de gestion des biens locatifs. L'abonnement est conçu pour faciliter la gestion 
                    financière et administrative des biens locatifs en appliquant une facturation claire et transparente basée sur 
                    les chambres associées à votre compte.
                </p>
        
                <h2 class="text-xl font-semibold mb-3">1. Modalités d’Abonnement</h2>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Tarification :</span> L’abonnement est calculé sur la base d’un pourcentage mensuel 
                    appliqué à chaque chambre inscrite dans le système. Le tarif en vigueur est fixé à <span class="font-bold">2% du 
                    loyer mensuel par chambre</span> en FCFA.
                </p>
                <p class="text-gray-600 mb-4">
                    Par exemple, si une chambre est louée à <span class="font-bold">30 000 FCFA par mois</span>, le montant de l'abonnement 
                    mensuel sera de <span class="font-bold">600 FCFA</span> pour cette chambre. Ce montant est calculé automatiquement chaque mois et est cumulatif en fonction du nombre de chambres actives gérées via la plateforme.
                </p>
        
                <h2 class="text-xl font-semibold mb-3">2. Processus de Facturation</h2>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Fréquence :</span> La facturation est mensuelle et intervient à la date anniversaire 
                    de l'inscription de l'utilisateur ou du renouvellement de l'abonnement.
                </p>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Chambres actives :</span> Seules les chambres activement associées à un locataire ou 
                    disponibles à la location sont prises en compte pour le calcul de l’abonnement. Une chambre non louée ou non disponible temporairement peut être exclue du calcul d’abonnement si elle est désactivée via l’interface administrateur.
                </p>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Rappel de paiement :</span> Un rappel de paiement sera envoyé 7 jours avant la date 
                    de facturation pour permettre à l’utilisateur de préparer le règlement.
                </p>
        
                <h2 class="text-xl font-semibold mb-3">3. Contraintes d’Utilisation</h2>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Non-paiement :</span> En cas de non-paiement de l’abonnement dans un délai de 15 jours 
                    après la date de facturation, l’utilisateur sera averti, et l’accès à certaines fonctionnalités de gestion pourrait 
                    être temporairement suspendu, notamment la gestion de nouvelles chambres ou l’édition de documents administratifs 
                    (factures, contrats).
                </p>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Chambres inactives :</span> L’utilisateur doit s’assurer que les chambres non actives 
                    ou non louées sont bien désactivées dans le système avant la date de facturation, afin d’éviter d’être facturé inutilement.
                </p>
        
                <h2 class="text-xl font-semibold mb-3">4. Résiliation et Réengagement</h2>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Résiliation de l’abonnement :</span> L'utilisateur peut résilier son abonnement à tout moment 
                    via l'interface administrateur. La résiliation prendra effet à la fin de la période de facturation en cours. Les paiements déjà effectués pour la période en cours ne sont pas remboursables.
                </p>
                <p class="text-gray-600 mb-4">
                    <span class="font-semibold">Réactivation de l’abonnement :</span> Si un utilisateur souhaite réactiver un abonnement résilié, 
                    il pourra le faire à tout moment en souscrivant à nouveau depuis l’interface. Le tarif restera inchangé (2% par chambre et par mois).
                </p>
        
                <h2 class="text-xl font-semibold mb-3">5. Mise à jour des Conditions</h2>
                <p class="text-gray-600 mb-4">
                    Les conditions d’abonnement et les tarifs peuvent être amenés à évoluer au fil du temps. Un préavis d’un mois sera 
                    communiqué à l’ensemble des utilisateurs avant toute modification, permettant à chacun de s’adapter aux nouvelles conditions. 
                    Les utilisateurs auront la possibilité de résilier leur abonnement avant l’entrée en vigueur de nouvelles conditions.
                </p>
        
                <h2 class="text-xl font-semibold mb-3">Exemple de Calcul :</h2>
                <p class="text-gray-600 mb-4">
                    - Studio 1 : Loyer 45 000 FCFA, Tarif abonnement = 900 FCFA/mois <br/>
                    - Studio 2 : Loyer 35 000 FCFA, Tarif abonnement = 700 FCFA/mois <br/>
                    <span class="font-bold">Total mensuel d'abonnement pour les deux studios : 1600 FCFA</span>
                </p>
        
                <p class="text-gray-600 mb-6">
                    Le montant sera directement débité via les moyens de paiement fournis à la date d'échéance chaque mois. Le détail des factures sera disponible dans l'onglet “Factures” de votre espace administrateur.
                </p>
        
            </div>
        </div>
        

    </div>
    <div class="px-4 py-4 flex justify-end app-border-t">
        <button ibmButton="primary" (click)="validConsultation()" class="custom-primary-button" size="md"
            [disabled]="waittingResponse || !isButtonEnabled" type="submit">
            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
            <ng-template #noWaitingResponse>
                <span>J'accepte les conditions</span>
            </ng-template>
        </button>
    </div>
</div>