.footer-btn-action .cds--btn
{
    max-width: 7.9em;
}

.footer-btn-action youpez-ibm-icon svg
{
    right: 0.7em;
    vertical-align: middle !important;
    fill: white;
}

.location-icon svg
{
    vertical-align: middle !important;
}

.other-detail .app-list-pill__item 
{
    cursor: default;
}

.other-detail .app-list-pill__item__inner:hover
{
    background-color: white !important;
}

