<div fxFill fxLayout="column">
  <!-- <div class="app-theme-settings-btn block md:hidden" placement="left" container="body" ngbTooltip="Theme settings">
      <youpez-ibm-icon iconName="settingsAdjust" iconSize="24"></youpez-ibm-icon>
  </div> -->

    <youpez-header>
      <youpez-header-title class="hidden md:block">
        {{getTitle()}}
      </youpez-header-title>
      <youpez-header-tools>
        <button ibmButton="primary" class="custom-primary-button" size="sm" *ngIf="shoulShowAddProperty()" (click)="onCreate()">
          {{showTitleOfBtn()}}
          <youpez-ibm-icon iconClass="cds--btn__icon" iconName="add" iconSize="20"></youpez-ibm-icon>
        </button>
      </youpez-header-tools>
    </youpez-header>
    <div fxFlex class="relative">
      <youpez-sidenav-container panel="solid">
        <youpez-sidenav           
          [breakpoint]="'md'"
          [direction]="'left'"
          [opened]="leftSidebarVisibility"
          (visibleChange)="leftSidebarVisibility=$event"
          [hoverAble]="true"
          [mode]="'side'"
          [toggleableBtn]="true"
          [size]="'sideBar1'">
          <div fxFill fxLayout="column" class="app-bg-container">
            <div class="app-border-b flex items-center px-4 py-3">
              <div class="pr-2">
                <div class="app-symbol">
                  <div class="app-symbol__label w-10 h-10 rounded-full app-bg-info-lt-40 font-bold app-text-contrast">
                    D
                  </div>
                </div>
              </div>
              <div class="mr-4">
                <div *ngIf="loadingProperty==false else elseNoLoadingPropertyName">
                  <div class="app-expressive-heading-02">{{propertyFound.name}}</div>
                  <div class="app-helper-text-01">#{{propertyFound.code}}</div>
                </div>
                <ng-template #elseNoLoadingPropertyName>
                    <div>
                        <ibm-skeleton-text  [lines]="2" [minLineWidth]="70" [maxLineWidth]="220">
                        </ibm-skeleton-text>
                    </div>
                </ng-template>
              </div>
            </div>
            <ng-container *ngIf="loadingProperty==false else elseNoLoadingPropertyDetail">
                <div fxFlex class="relative" >
                    <div class="app-a-box app-scrollbar-fix">
                      <ng-scrollbar>
                        <div class="mt-2">
                          <div class="app-list-header-pill">Details</div>
                          <div class="app-list-pill">
                            <div class="app-list-pill__item">
                              <div class="app-list-pill__item__inner font-bold" routerLink="rooms" routerLinkActive="app-list-pill__item__inner--active">
                                <youpez-ibm-icon iconSize="20" iconName="home" class="mr-2"></youpez-ibm-icon>
                                Chambres
                              </div>
                            </div>
                          </div>
                          <div class="app-list-pill">
                            <div class="app-list-pill__item">
                              <div class="app-list-pill__item__inner font-bold" routerLink="finances"  routerLinkActive="app-list-pill__item__inner--active">
                                <youpez-ibm-icon iconSize="20" iconName="money" class="mr-2"></youpez-ibm-icon>
                                Finances
                              </div>
                            </div>
                          </div>
                          <div class="app-list-pill">
                            <div class="app-list-pill__item">
                              <div class="app-list-pill__item__inner font-bold" routerLink="tenants"  routerLinkActive="app-list-pill__item__inner--active">
                                <youpez-ibm-icon iconSize="20" iconName="userIdentification" class="mr-2"></youpez-ibm-icon>
                                Locataires
                              </div>
                            </div>
                          </div>
                          <div class="app-list-pill">
                            <div class="app-list-pill__item">
                              <div class="app-list-pill__item__inner font-bold" routerLink="locations"  routerLinkActive="app-list-pill__item__inner--active">
                                <youpez-ibm-icon iconSize="20" iconName="task" class="mr-2"></youpez-ibm-icon>
                                Voir locations
                              </div>
                            </div>
                          </div>
                         </div>
                        <div class="mt-2 other-detail">
                          <div class="app-list-header-pill">Details</div>
                          <div class="app-list-pill">
                            <div class="app-list-pill__item">
                              <div class="app-list-pill__item__inner">
                                  <youpez-ibm-icon class="location-icon mr-2"  iconName="location" iconSize="16"></youpez-ibm-icon>
                                  {{propertyFound.location}}
                              </div>
                            </div>
                          </div>
                          <div class="app-list-pill">
                            <div class="app-list-pill__item">
                              <div class="app-list-pill__item__inner" *ngIf="propertyFound.description">
                                <youpez-ibm-icon iconSize="20" iconName="document" class="mr-2"></youpez-ibm-icon>
                                {{propertyFound.description}} 
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-scrollbar>
                    </div>
                  </div>
                  <div class="px-2 py-4 flex justify-end app-border-t footer-btn-action">
                      <button (click)="updateProperty()"  ibmButton="primary" size="sm" class="mr-1 custom-primary-button">
                          <span class="btn-text mr-1">Modifier</span>
                          <youpez-ibm-icon iconSize="20" iconName="edit" class="text-white"></youpez-ibm-icon>
                      </button>
                      <button ibmButton="danger" size="sm" [disabled]="waittingResponseDeleteProperty">
                        <ibm-loading *ngIf="waittingResponseDeleteProperty; else noWaittingResponseDeleteProperty"></ibm-loading>
                        <ng-template #noWaittingResponseDeleteProperty>
                          <span class="btn-text mr-1">Supprimer</span>
                          <youpez-ibm-icon iconSize="20" iconName="trashCan" class="text-white"></youpez-ibm-icon>
                        </ng-template>
                      </button>
                  </div>
            </ng-container>
            <ng-template #elseNoLoadingPropertyDetail>
                <div>
                    <ibm-skeleton-text  [lines]="7" [minLineWidth]="70" [maxLineWidth]="220">
                    </ibm-skeleton-text>
                </div>
            </ng-template>            
        </div>
        </youpez-sidenav>
  
        <youpez-sidenav-container panel="solid">
          <youpez-sidenav
            [breakpoint]="'md'"
            [direction]="'right'"
            [opened]="isDetailsOpened"
            (visibleChange)="isDetailsOpened=$event"
            [mode]="'over'"
            [toggleableBtn]="true"
            (close)="onClose($event)"
            [size]="'md'">
        </youpez-sidenav>
  
          <div class="app-a-box app-scrollbar-fix">
            <router-outlet (activate)="onSetRouterOutLetComponent($event)"></router-outlet>
          </div>
        </youpez-sidenav-container>
      </youpez-sidenav-container>
    </div>
  </div>
  
  
  
  
  
  
  
  