.search-page {
    background-color: #F2F2F2;
}
.filter-item {
    display:flex;
    flex-direction: column;
}

.filter-item > *
{
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .app-content.app-content--default {
        padding: 0px !important;
    }
}
