<div class="mb-6">
    <ng-container *ngIf="!loading else loadingData">
        <div class="mt-5 relative">
            <nav class="mx-auto w-full mt-10 mb-4  md:ml-10 max-w-[1200px] px-5">
                <ul class="flex items-center">
                    <li class="cursor-pointer">
                        <a [routerLink]="'/search/index'">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 home-icon">
                                <path
                                    d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                                <path
                                    d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <span class="mx-2 text-gray-500">&gt;</span>
                    </li>

                    <li class="text-gray-500">{{getRoomType(roomDataSearch.type)}} #{{roomDataSearch.code}}</li>
                </ul>
            </nav>
        </div>
        <section fxLayout="row wrap">
            <div fxFlex="100%" fxFlex.gt-md="55%">
                <single-page-screen-galery [images]="roomDataSearch.medias"></single-page-screen-galery>
            </div>


            <div class="mx-8 " fxFlex="100%" fxFlex.gt-md="33.33%">
                <h2 class="pt-3 text-2xl font-bold lg:pt-0">{{getRoomType(roomDataSearch.type)}} #{{roomDataSearch.code}}</h2>

                <p class="mt-5 font-bold">

                    <span class="text-green-600" *ngIf="roomDataSearch.isFree else noFreeRoom"> Bien Libre</span>
                    <ng-template #noFreeRoom>
                        <span class="text-red-600">Non disponible</span>
                    </ng-template>
                </p>
                <p class="font-bold">
                    <span class="font-normal">
                        <i class="fa fa-bed  text-muted me-1 mr-2 spec-home"></i>
                        {{roomDataSearch.specifity.numberOfBathroom}}
                    </span> chambre(s)
                </p>
                <p class="font-bold" *ngIf="roomDataSearch.type!='room'">
                    <span class="font-normal">
                        <i class="fa fa-bath text-muted me-1 mr-3 spec-home"></i>
                        {{roomDataSearch.specifity.numberOfShower}}</span> Douche(s)
                        <ng-container *ngIf="roomDataSearch.specifity.isInternalShower else externalShower">interne</ng-container>
                            <ng-template #externalShower>externe</ng-template>
                    </p>
                <p class="font-bold" *ngIf="roomDataSearch.type!='room'  && roomDataSearch.type!='studio'">
                    <i class="fa fa-couch text-muted me-1 mr-3 spec-home"></i>
                    <span class="font-normal">{{roomDataSearch.specifity.numberOfLivingRoom}}</span> Salon(s)
                </p>
                <p class="font-bold">
                    <span class="font-normal">
                        <svg class="text-muted me-1 mr-2" xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                            viewBox="0 0 576 512">
                            <path opacity="1" fill="currentColor"
                                d="M240 144A96 96 0 1 0 48 144a96 96 0 1 0 192 0zm44.4 32C269.9 240.1 212.5 288 144 288C64.5 288 0 223.5 0 144S64.5 0 144 0c68.5 0 125.9 47.9 140.4 112h71.8c8.8-9.8 21.6-16 35.8-16H496c26.5 0 48 21.5 48 48s-21.5 48-48 48H392c-14.2 0-27-6.2-35.8-16H284.4zM144 80a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM400 240c13.3 0 24 10.7 24 24v8h96c13.3 0 24 10.7 24 24s-10.7 24-24 24H280c-13.3 0-24-10.7-24-24s10.7-24 24-24h96v-8c0-13.3 10.7-24 24-24zM288 464V352H512V464c0 26.5-21.5 48-48 48H336c-26.5 0-48-21.5-48-48zM48 320h80 16 32c26.5 0 48 21.5 48 48s-21.5 48-48 48H160c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V336c0-8.8 7.2-16 16-16zm128 64c8.8 0 16-7.2 16-16s-7.2-16-16-16H160v32h16zM24 464H200c13.3 0 24 10.7 24 24s-10.7 24-24 24H24c-13.3 0-24-10.7-24-24s10.7-24 24-24z">
                            </path>
                        </svg>
                        <ng-container *ngIf="roomDataSearch.specifity.hasKitchen else noKitchen">
                            {{roomDataSearch.specifity.numberOfKitchen}} Cuisine (s) 
                            <ng-container *ngIf="roomDataSearch.specifity.isInternalKitchen else externalKitchen">interne</ng-container>
                            <ng-template #externalKitchen>externe</ng-template>
                        </ng-container>
                        <ng-template #noKitchen>Pas de cusine</ng-template>
                    </span>
                </p>
                <p class="font-bold">
                    <ng-container *ngIf="roomDataSearch.property.hasClosure else hasNoClosure">
                        <i class="fa fa-door-open text-muted me-1 mr-3 spec-home"></i>
                        <span class="font-normal"></span>Posséde une barriére
                    </ng-container>
                    <ng-template #hasNoClosure>
                        <i class="fa fa-door-closed text-muted me-1 mr-3 spec-home"></i>
                        <span class="font-normal"></span>Ne posséde pas barriére
                    </ng-template>
                </p>

                <p class="font-bold">
                    <ng-container *ngIf="roomDataSearch.property.hasParking">
                        <i class="fa fa-square-parking text-muted me-1 mr-4 spec-home"></i>
                        <span class="font-normal"></span>Posséde un parking
                    </ng-container>
                </p>

                <p class="font-bold">
                    <ng-container >
                        <i class="fa fa-location-dot text-muted me-1 mr-4 spec-home"></i>
                        <span class="font-normal"></span>{{roomDataSearch.property.location}}
                    </ng-container>
                </p>

                <p class="mt-4 text-4xl font-bold text-violet-900">
                    {{roomDataSearch.price | currency : getMoney(): 'symbol' : '1.0-0' }} <span class="text-sm text-gray-800">/mois</span>
                </p>

                <div class="pt-3 leading-5 text-gray-800" *ngIf="hasDescription(roomDataSearch.description)">
                    <div class="text-gray-800 mb-2 ">
                        <p>
                            <span
                                class="border-for-custom-color-theme border-b-4 pb-1 px-1 border-amber-400 border-solid">Description</span>
                        </p>
                    </div>

                    <p>
                       {{roomDataSearch.description}}
                    </p>
                </div>

                <!-- <div class="pt-3 leading-5 text-gray-800" >
                    <div class="text-gray-800 mb-2 ">
                        <p>
                            <span
                                class="border-for-custom-color-theme border-b-4 pb-1 px-1 border-amber-400 border-solid">Localisation</span>
                        </p>
                    </div>

                    <p>
                       {{roomDataSearch.property.location}}
                    </p>
                </div> -->


                <div class="mt-6">
                    <button (click)="getContactInfos()" size="md" class=" custom-primary-button"  ibmButton="primary" >
                          <span class="btn-text">Contact du propriétaire</span>
                          <youpez-ibm-icon iconClass="cds--btn__icon" iconName="userAccessUnlocked" iconSize="24" ></youpez-ibm-icon >
                      </button>
                </div>
            </div>
        </section>


        <div class="mx-auto mt-16 mb-16 text-center max-w-[1200px] px-5">
            <span class="border-for-custom-color-theme border-b-4 pb-1 px-1 border-amber-400 border-solid text-2xl">BIENS ASSOCIES</span></div>
        <room-associated [selectedFoundRoom]="roomDataSearch"></room-associated>
    </ng-container>
    <ng-template #loadingData>
        <div class="relative no-data-loader ">
            <youpez-loader></youpez-loader>
        </div>
    </ng-template>
</div>
