<ng-container [ngSwitch]="iconName">
  <ng-container *ngSwitchCase="'home'">    
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'application'">
    <svg [class]="iconClass" cdsIcon="application" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'help'">
    <svg [class]="iconClass" cdsIcon="help" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'add'">
    <svg [class]="iconClass" cdsIcon="add" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'aperture'">
    <svg [class]="iconClass" cdsIcon="aperture" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'search'">
    <svg [class]="iconClass" cdsIcon="search" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'notification'">
    <svg [class]="iconClass" cdsIcon="notification" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chat'">
    <svg [class]="iconClass" cdsIcon="chat" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'user'">
    <svg [class]="iconClass" cdsIcon="user" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tools'">
    <svg [class]="iconClass" cdsIcon="tools" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowUp'">
    <svg [class]="iconClass" cdsIcon="arrow--up" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowDown'">
    <svg [class]="iconClass" cdsIcon="arrow--down" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowLeft'">
    <svg [class]="iconClass" cdsIcon="arrow--left" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowRight'">
    <svg [class]="iconClass" cdsIcon="arrow--right" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDataOps'">
    <svg [class]="iconClass" cdsIcon="cloudDataOps" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'virtualPrivateCloudAlt'">
    <svg [class]="iconClass" cdsIcon="virtualPrivateCloudAlt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkMarkOutline'">
    <svg [class]="iconClass" cdsIcon="checkMarkOutline" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkmark'">
    <svg [class]="iconClass" cdsIcon="checkmark" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkmarkFilled'">
    <svg [class]="iconClass" cdsIcon="checkmarkFilled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretRight'">
    <svg [class]="iconClass" cdsIcon="caretRight" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretLeft'">
    <svg [class]="iconClass" cdsIcon="caretLeft" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'renew'">
    <svg [class]="iconClass" cdsIcon="renew" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'alarm'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'minimize'">
    <svg [class]="iconClass" cdsIcon="alarm" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDownload'">
    <svg [class]="iconClass" cdsIcon="cloudDownload" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'analytics'">
    <svg [class]="iconClass" cdsIcon="analytics" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'activity'">
    <svg [class]="iconClass" cdsIcon="activity" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboard'">
    <svg [class]="iconClass" cdsIcon="dashboard" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboardReference'">
    <svg [class]="iconClass" cdsIcon="dashboard" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'task'">
    <svg [class]="iconClass" cdsIcon="task" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'catalog'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'document'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'email'">
    <svg [class]="iconClass" cdsIcon="email" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'send'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'sendAlt'">
    <svg [class]="iconClass" cdsIcon="send--alt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAdmin'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAvatar'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'folder'">
    <svg [class]="iconClass" cdsIcon="folder" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'folderShared'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'recentlyViewed'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'image'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'imageSearch'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'error'">
    <svg [class]="iconClass" cdsIcon="error" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phraseSentiment'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableSplit'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chartColumn'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'magicWand'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textTracking'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textCreation'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trashCan'">
    <svg [class]="iconClass" cdsIcon="trash-can" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'menu'">
    <svg [class]="iconClass" cdsIcon="menu" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButton'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButtonChecked'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settingsAdjust'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settings'">
    <svg [class]="iconClass" cdsIcon="settings" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'edit'">
    <svg [class]="iconClass" cdsIcon="edit" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkboxChecked'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudApp'">
    <svg [class]="iconClass" cdsIcon="cloud-app" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'bullhorn'">
    <svg [class]="iconClass" cdsIcon="bullhorn" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'buildingInsights1'">
    <svg [class]="iconClass" cdsIcon="building--insights-1" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tag'">
    <svg [class]="iconClass" cdsIcon="tag" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'time'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronDown'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronUp'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronLeft'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronRight'">
    <svg [class]="iconClass" cdsIcon="notification"  [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'draggable'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'archive'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'maximize'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'star'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'download'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'share'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'move'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableOfContents'">
    <svg [class]="iconClass" cdsIcon="table-of-contents" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'upload'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'package'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'attachment'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'flag'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'flagFilled'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textBold'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textItalic'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textUnderline'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'printer'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'overflowMenuHorizontal'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'overflowMenuVertical'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelFilledLeft'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelLeft'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelRight'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'locked'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'information'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phone'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'subtract'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'money'">
    <svg [class]="iconClass" cdsIcon="money" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'faceActivated'">
    <svg [class]="iconClass" cdsIcon="face--activated" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'purchase'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'calendar'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'password'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'location'">
    <svg [class]="iconClass" cdsIcon="location" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hourglass'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'inProgress'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hearing'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'favorite'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'pin'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'industry'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'portfolio'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'exit'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'close'">
    <svg [class]="iconClass" cdsIcon="close" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'view'">
    <svg [class]="iconClass" cdsIcon="view" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'apps'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'contourFinding'">
    <svg [class]="iconClass" cdsIcon="contour-finding" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'save'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'3dCursorAlt'">
    <svg [class]="iconClass" cdsIcon="home"_3DCursorAlt [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hashtag'">
    <svg [class]="iconClass" xmlns="http://www.w3.org/2000/svg" [style.width]="iconSize" [style.height]="iconSize" viewBox="0 0 32 32">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }
        </style>
      </defs>
      <path d="M28,12V10H22V4H20v6H12V4H10v6H4v2h6v8H4v2h6v6h2V22h8v6h2V22h6V20H22V12Zm-8,8H12V12h8Z"/>
      <rect class="cls-1" [style.width]="iconSize" [style.height]="iconSize"/>
    </svg>
  </ng-container>

  <ng-container *ngSwitchDefault>!!!</ng-container>
</ng-container>
