<ng-container [ngSwitch]="iconName">
  <ng-container *ngSwitchCase="'home'">    
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'application'">
    <svg [class]="iconClass" cdsIcon="application" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'help'">
    <svg [class]="iconClass" cdsIcon="help" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'add'">
    <svg [class]="iconClass" cdsIcon="add" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'assetMovement'">
    <svg [class]="iconClass" cdsIcon="asset-movement" [size]="iconSize"></svg>
  </ng-container>

  

  <ng-container *ngSwitchCase="'addAlt'">
    <svg [class]="iconClass" cdsIcon="add--alt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'aperture'">
    <svg [class]="iconClass" cdsIcon="aperture" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'search'">
    <svg [class]="iconClass" cdsIcon="search" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'notification'">
    <svg [class]="iconClass" cdsIcon="notification" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chat'">
    <svg [class]="iconClass" cdsIcon="chat" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'user'">
    <svg [class]="iconClass" cdsIcon="user" [size]="iconSize"></svg>
  </ng-container>
  <ng-container *ngSwitchCase="'userAccessUnlocked'">
    <svg [class]="iconClass" cdsIcon="user--access-unlocked" [size]="iconSize"></svg>
  </ng-container>
  
<ng-container *ngSwitchCase="'userAdd'">
    <svg [class]="iconClass" cdsIcon="user--follow" [size]="iconSize"></svg>
  </ng-container>
  

  <ng-container *ngSwitchCase="'tools'">
    <svg [class]="iconClass" cdsIcon="tools" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowUp'">
    <svg [class]="iconClass" cdsIcon="arrow--up" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowDown'">
    <svg [class]="iconClass" cdsIcon="arrow--down" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowLeft'">
    <svg [class]="iconClass" cdsIcon="arrow--left" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowRight'">
    <svg [class]="iconClass" cdsIcon="arrow--right" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'triangleLeftSolid'">
    <svg [class]="iconClass" cdsIcon="triangle--left--solid" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'triangleRightSolid'">
    <svg [class]="iconClass" cdsIcon="triangle--right--solid" [size]="iconSize"></svg>
  </ng-container>
  <ng-container *ngSwitchCase="'triangleUpSolid'">
    <svg [class]="iconClass" cdsIcon="triangle--up--solid" [size]="iconSize"></svg>
  </ng-container>
  <ng-container *ngSwitchCase="'triangleDownSolid'">
    <svg [class]="iconClass" cdsIcon="triangle--down--solid" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDataOps'">
    <svg [class]="iconClass" cdsIcon="cloudDataOps" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'virtualPrivateCloudAlt'">
    <svg [class]="iconClass" cdsIcon="virtualPrivateCloudAlt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkMarkOutline'">
    <svg [class]="iconClass" cdsIcon="checkmark--outline" [size]="iconSize"></svg>
  </ng-container>
  <ng-container *ngSwitchCase="'warningMarkOutline'">
    <svg [class]="iconClass" cdsIcon="warning" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkmark'">
    <svg [class]="iconClass" cdsIcon="checkmark" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkmarkFilled'">
    <svg [class]="iconClass" cdsIcon="checkmark--filled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretRight'">
    <svg [class]="iconClass" cdsIcon="caretRight" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretLeft'">
    <svg [class]="iconClass" cdsIcon="caretLeft" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'renew'">
    <svg [class]="iconClass" cdsIcon="renew" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'alarm'">
    <svg [class]="iconClass" cdsIcon="alarm" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hotel'">
    <svg [class]="iconClass" cdsIcon="hotel" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hospital'">
    <svg [class]="iconClass" cdsIcon="hospital" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'minimize'">
    <svg [class]="iconClass" cdsIcon="minimize" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDownload'">
    <svg [class]="iconClass" cdsIcon="cloudDownload" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'analytics'">
    <svg [class]="iconClass" cdsIcon="analytics" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'activity'">
    <svg [class]="iconClass" cdsIcon="activity" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboard'">
    <svg [class]="iconClass" cdsIcon="dashboard" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboardReference'">
    <svg [class]="iconClass" cdsIcon="dashboard" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'task'">
    <svg [class]="iconClass" cdsIcon="task" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'catalog'">
    <svg [class]="iconClass" cdsIcon="catalog" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'document'">
    <svg [class]="iconClass" cdsIcon="document" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'documentAttachment'">
    <svg [class]="iconClass" cdsIcon="document--attachment" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'email'">
    <svg [class]="iconClass" cdsIcon="email" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'send'">
    <svg [class]="iconClass" cdsIcon="send" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'sendAlt'">
    <svg [class]="iconClass" cdsIcon="send--alt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAdmin'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAvatar'">
    <svg [class]="iconClass" cdsIcon="user--avatar" [size]="iconSize"></svg>
  </ng-container>
  <ng-container *ngSwitchCase="'userIdentification'">
    <svg [class]="iconClass" cdsIcon="user--identification" [size]="iconSize"></svg>
  </ng-container>
  
  <ng-container *ngSwitchCase="'folder'">
    <svg [class]="iconClass" cdsIcon="folder" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'folderShared'">
    <svg [class]="iconClass" cdsIcon="folder--shared" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'recentlyViewed'">
    <svg [class]="iconClass" cdsIcon="recently-viewed" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'image'">
    <svg [class]="iconClass" cdsIcon="image" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'imageSearch'">
    <svg [class]="iconClass" cdsIcon="image--search" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'error'">
    <svg [class]="iconClass" cdsIcon="error" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phraseSentiment'">
    <svg [class]="iconClass" cdsIcon="phrase--sentiment" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableSplit'">
    <svg [class]="iconClass" cdsIcon="table--split" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chartColumn'">
    <svg [class]="iconClass" cdsIcon="chart--column" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'magicWand'">
    <svg [class]="iconClass" cdsIcon="magic--wand" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textTracking'">
    <svg [class]="iconClass" cdsIcon="text--tracking" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textCreation'">
    <svg [class]="iconClass" cdsIcon="text--creation" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trashCan'">
    <svg [class]="iconClass" cdsIcon="trash-can" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'menu'">
    <svg [class]="iconClass" cdsIcon="menu" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButton'">
    <svg [class]="iconClass" cdsIcon="radio-button" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButtonChecked'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settingsAdjust'">
    <svg [class]="iconClass" cdsIcon="settings--adjust" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settings'">
    <svg [class]="iconClass" cdsIcon="settings" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'edit'">
    <svg [class]="iconClass" cdsIcon="edit" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkboxChecked'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudApp'">
    <svg [class]="iconClass" cdsIcon="cloud-app" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'bullhorn'">
    <svg [class]="iconClass" cdsIcon="bullhorn" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'buildingInsights1'">
    <svg [class]="iconClass" cdsIcon="building--insights-1" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tag'">
    <svg [class]="iconClass" cdsIcon="tag" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'time'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'time'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'map'">
    <svg [class]="iconClass" cdsIcon="map" [size]="iconSize"></svg>
  </ng-container>

 

  <ng-container *ngSwitchCase="'chevronDown'">
    <svg [class]="iconClass" cdsIcon="chevron--down" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronUp'">
    <svg [class]="iconClass" cdsIcon="chevron--up" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronDownOutline'">
    <svg [class]="iconClass" cdsIcon="chevron--down--outline" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronUpOutline'">
    <svg [class]="iconClass" cdsIcon="chevron--up--outline" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronLeft'">
    <svg [class]="iconClass" cdsIcon="chevron--left" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronRight'">
    <svg [class]="iconClass" cdsIcon="chevron--right"  [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'draggable'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'archive'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'maximize'">
    <svg [class]="iconClass" cdsIcon="maximize" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'star'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'download'">
    <svg [class]="iconClass" cdsIcon="download" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'share'">
    <svg [class]="iconClass" cdsIcon="share" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'move'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableOfContents'">
    <svg [class]="iconClass" cdsIcon="table-of-contents" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'upload'">
    <svg [class]="iconClass" cdsIcon="cloud--upload" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'package'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'attachment'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'flag'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'flagFilled'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textBold'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textItalic'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textUnderline'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'printer'">
    <svg [class]="iconClass" cdsIcon="printer" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'overflowMenuHorizontal'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'overflowMenuVertical'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelFilledLeft'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'pen'">
    <svg [class]="iconClass" cdsIcon="pen" [size]="iconSize"></svg>
  </ng-container>
  
  <ng-container *ngSwitchCase="'openPanelLeft'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelRight'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'locked'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'information'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>


  <ng-container *ngSwitchCase="'dropPhoto'">
    <svg [class]="iconClass" cdsIcon="drop-photo" [size]="iconSize"></svg>
  </ng-container>


  <ng-container *ngSwitchCase="'subtract'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'money'">
    <svg [class]="iconClass" cdsIcon="money" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'faceActivated'">
    <svg [class]="iconClass" cdsIcon="face--activated" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'purchase'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'calendar'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'password'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'location'">
    <svg [class]="iconClass" cdsIcon="location" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hourglass'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'inProgress'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hearing'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'favorite'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'pin'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'industry'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'portfolio'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'exit'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'close'">
    <svg [class]="iconClass" cdsIcon="close" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'closeOutline'">
    <svg [class]="iconClass" cdsIcon="close--outline" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'view'">
    <svg [class]="iconClass" cdsIcon="view" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'apps'">
    <svg [class]="iconClass" cdsIcon="home" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'contourFinding'">
    <svg [class]="iconClass" cdsIcon="contour-finding" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'save'">
    <svg [class]="iconClass" cdsIcon="save" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'3dCursorAlt'">
    <svg [class]="iconClass" cdsIcon="home"_3DCursorAlt [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hashtag'">
    <svg [class]="iconClass" xmlns="http://www.w3.org/2000/svg" [style.width]="iconSize" [style.height]="iconSize" viewBox="0 0 32 32">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }
        </style>
      </defs>
      <path d="M28,12V10H22V4H20v6H12V4H10v6H4v2h6v8H4v2h6v6h2V22h8v6h2V22h6V20H22V12Zm-8,8H12V12h8Z"/>
      <rect class="cls-1" [style.width]="iconSize" [style.height]="iconSize"/>
    </svg>
  </ng-container>

  <!-- Nouvelles icônes pour la localisation et l'interface -->
  <ng-container *ngSwitchCase="'globe'">
    <svg [class]="iconClass" cdsIcon="globe" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'language'">
    <svg [class]="iconClass" cdsIcon="language" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'currency-dollar'">
    <svg [class]="iconClass" cdsIcon="currency--dollar" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'time'">
    <svg [class]="iconClass" cdsIcon="time" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'calendar'">
    <svg [class]="iconClass" cdsIcon="calendar" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phone'">
    <svg [class]="iconClass" cdsIcon="phone" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'camera'">
    <svg [class]="iconClass" cdsIcon="camera" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'information'">
    <svg [class]="iconClass" cdsIcon="information" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'reset'">
    <svg [class]="iconClass" cdsIcon="reset" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'view-off'">
    <svg [class]="iconClass" cdsIcon="view--off" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trash-can'">
    <svg [class]="iconClass" cdsIcon="trash-can" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'grid'">
    <svg [class]="iconClass" cdsIcon="grid" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'list'">
    <svg [class]="iconClass" cdsIcon="list" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trending-up'">
    <svg [class]="iconClass" cdsIcon="arrow--up" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trending-down'">
    <svg [class]="iconClass" cdsIcon="arrow--down" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trending-flat'">
    <svg [class]="iconClass" cdsIcon="arrow--right" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'subtract'">
    <svg [class]="iconClass" cdsIcon="subtract" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chart-line'">
    <svg [class]="iconClass" cdsIcon="analytics" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tools'">
    <svg [class]="iconClass" cdsIcon="tools" [size]="iconSize"></svg>
  </ng-container>

  <!-- Icônes avec alias pour compatibilité -->
  <ng-container *ngSwitchCase="'currency--dollar'">
    <svg [class]="iconClass" cdsIcon="currency--dollar" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trending--up'">
    <svg [class]="iconClass" cdsIcon="arrow--up" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trending--down'">
    <svg [class]="iconClass" cdsIcon="arrow--down" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trending--flat'">
    <svg [class]="iconClass" cdsIcon="arrow--right" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chart--line'">
    <svg [class]="iconClass" cdsIcon="analytics" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'view--off'">
    <svg [class]="iconClass" cdsIcon="view--off" [size]="iconSize"></svg>
  </ng-container>

  <!-- Icônes warning et information -->
  <ng-container *ngSwitchCase="'warning'">
    <svg [class]="iconClass" cdsIcon="warning" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'warning-alt'">
    <svg [class]="iconClass" cdsIcon="warning--alt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'warning--alt'">
    <svg [class]="iconClass" cdsIcon="warning--alt" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'warning-filled'">
    <svg [class]="iconClass" cdsIcon="warning--filled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'warning--filled'">
    <svg [class]="iconClass" cdsIcon="warning--filled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'warning-alt-filled'">
    <svg [class]="iconClass" cdsIcon="warning--alt--filled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'warning--alt--filled'">
    <svg [class]="iconClass" cdsIcon="warning--alt--filled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'information-filled'">
    <svg [class]="iconClass" cdsIcon="information--filled" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'information--filled'">
    <svg [class]="iconClass" cdsIcon="information--filled" [size]="iconSize"></svg>
  </ng-container>

  <!-- Icônes pour le module de recherche moderne -->
  <ng-container *ngSwitchCase="'tune'">
    <svg [class]="iconClass" cdsIcon="settings--adjust" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'location_on'">
    <svg [class]="iconClass" cdsIcon="location" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'payments'">
    <svg [class]="iconClass" cdsIcon="currency--dollar" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'restaurant'">
    <i [class]="iconClass + ' fas fa-utensils'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'shower'">
    <i [class]="iconClass + ' fas fa-shower'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'local_parking'">
    <i [class]="iconClass + ' fas fa-parking'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'chair'">
    <i [class]="iconClass + ' fas fa-chair'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'grid_view'">
    <svg [class]="iconClass" cdsIcon="grid" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'view_list'">
    <svg [class]="iconClass" cdsIcon="list" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'sort'">
    <svg [class]="iconClass" cdsIcon="arrow--up" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'favorite_border'">
    <i [class]="iconClass + ' far fa-heart'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'favorite'">
    <i [class]="iconClass + ' fas fa-heart'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'search_off'">
    <i [class]="iconClass + ' fas fa-search-minus'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'arrow_forward'">
    <svg [class]="iconClass" cdsIcon="arrow--right" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrow_back'">
    <svg [class]="iconClass" cdsIcon="arrow--left" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'home_repair_service'">
    <svg [class]="iconClass" cdsIcon="tools" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'euro'">
    <i [class]="iconClass + ' fas fa-euro-sign'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'attach_money'">
    <svg [class]="iconClass" cdsIcon="currency--dollar" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'error_outline'">
    <svg [class]="iconClass" cdsIcon="error" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'check_circle'">
    <svg [class]="iconClass" cdsIcon="checkmark--filled" [size]="iconSize"></svg>
  </ng-container>

 
  <ng-container *ngSwitchCase="'person'">
    <svg [class]="iconClass" cdsIcon="user" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'calendar_today'">
    <svg [class]="iconClass" cdsIcon="calendar" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'camera'">
    <i [class]="iconClass + ' fas fa-camera'" [style.font-size.px]="iconSize"></i>
  </ng-container>


  <ng-container *ngSwitchCase="'info'">
    <svg [class]="iconClass" cdsIcon="information" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'refresh'">
    <svg [class]="iconClass" cdsIcon="renew" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'link'">
    <svg [class]="iconClass" cdsIcon="link" [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'square_foot'">
    <i [class]="iconClass + ' fas fa-ruler-combined'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'fence'">
    <i [class]="iconClass + ' fas fa-border-style'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'wifi'">
    <i [class]="iconClass + ' fas fa-wifi'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'ac_unit'">
    <i [class]="iconClass + ' fas fa-snowflake'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'balcony'">
    <i [class]="iconClass + ' fas fa-building'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'grass'">
    <i [class]="iconClass + ' fas fa-seedling'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'security'">
    <i [class]="iconClass + ' fas fa-shield-alt'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'elevator'">
    <i [class]="iconClass + ' fas fa-arrows-alt-v'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'power'">
    <i [class]="iconClass + ' fas fa-bolt'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'water_drop'">
    <i [class]="iconClass + ' fas fa-tint'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'event_available'">
    <i [class]="iconClass + ' fas fa-calendar-check'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'pets'">
    <i [class]="iconClass + ' fas fa-paw'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'smoking_rooms'">
    <i [class]="iconClass + ' fas fa-smoking'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'accessible'">
    <i [class]="iconClass + ' fas fa-wheelchair'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'directions_bus'">
    <i [class]="iconClass + ' fas fa-bus'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'school'">
    <i [class]="iconClass + ' fas fa-graduation-cap'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'local_hospital'">
    <i [class]="iconClass + ' fas fa-hospital'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'store'">
    <i [class]="iconClass + ' fas fa-store'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'account_balance'">
    <i [class]="iconClass + ' fas fa-university'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'kitchen'">
    <i [class]="iconClass + ' fas fa-utensils'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'home_work'">
    <i [class]="iconClass + ' fas fa-home'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'apartment'">
    <i [class]="iconClass + ' fas fa-building'" [style.font-size.px]="iconSize"></i>
  </ng-container>

  <ng-container *ngSwitchDefault>!!!</ng-container>
</ng-container>
