.text-header  h1{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Inter';
}

.text-header  span{
    font-size: 20px;
}

.property-vedette{
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #F2F2F2;
}