<ng-container *ngIf="type === 'nobg-white'">
  <img class="app-logo--force-black" src="assets/img/logo/ndewa_barre_blanche.png" [style.width]="logoWidth"/>
</ng-container>
<ng-container *ngIf="type === 'nobg-white-sidebar'">
  <img class="app-logo--force-black" src="assets/img/logo/ndewa_barre_blanche-sidebar.png" [style.width]="logoWidth"/>
</ng-container>
<ng-container *ngIf="type === 'white'">
  <img class="app-logo--force-white" src="assets/img/logo/logo-basic-nobg.png" [style.width]="logoWidth"/>
</ng-container>
