<ng-template #invalidText>
    <img src="assets/img/avatar/avatar3.jpg" class="app-img-select__item w-8 rounded"/>
  </ng-template>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
        <div class="px-4 py-4 flex">
          <div class="app-productive-heading-03 font-bold">Ajouter un locataire</div>
          <div class="flex-1 flex justify-end">
            <button (click)="onClose()" ibmButton="ghost" size="sm" class="cds--btn--icon-only">
              <youpez-ibm-icon iconClass="cds--btn__icon" iconName="close" iconSize="32" ></youpez-ibm-icon >
            </button>
          </div>
        </div>
        <div fxFlex>
          <div class="app-content app-content--default">
            <div class="app-form">
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label > Nom complet <span class="text-red-600">*</span>
                          <input ibmText formControlName="fullName" size="md" theme="dark">
                        </ibm-label>        
                    </div>
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label helperText="" [invalid]="isValid('email')" [invalidText]="'Vérifier le format d\'email'">
                        Email <input
                        formControlName="email"
                        ibmText
                        size="md"
                        [invalid]="isValid('email')"
                        [disabled]="false"
                        theme="dark"
                        [placeholder]="'Adresse Email'"
                        [autocomplete]="true">
                        </ibm-label>
                    </div>
                </div>
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label helperText="Ex: +237 6xx xx xx xx" [invalid]="isValid('phoneNumber')" [invalidText]="'Format invalide. Ex: +237 6xx xx xx xx'">
                        Tél <span class="text-red-600">*</span> 
                        <input
                        formControlName="phoneNumber"
                        ibmText
                        size="md"
                        [invalid]="isValid('phoneNumber')"
                        [disabled]="false"
                        theme="dark"
                        [placeholder]="'Numéro de téléphone'"
                        [autocomplete]="true">
                        </ibm-label>
                    </div>
                    <div fxFlex="100%" fxFlex.gt-md="50%" class="app-form__item">
                        <ibm-label helperText="Laissez vide pour une affection ultérieur" [invalid]="isValid('roomId')" [invalidText]="">
                        Chambre 
                            <ibm-combo-box class="mt-2"
                            [items]="roomList"
                            formControlName="roomId"
                            theme="dark"
                            size="md">
                            <ibm-dropdown-list></ibm-dropdown-list>
                        </ibm-combo-box>   
                        </ibm-label>
                    </div>
                </div>
              <div class="">
                <ibm-label
                  [helperText]="''">
                  Description
                  <textarea
                    ibmTextArea
                    formControlName="description"
                    theme="dark"
                    class="textarea-field"
                    [cols]="3"
                    aria-label="textarea"></textarea>
                </ibm-label>
              </div>
            </div>
      
          </div>
        </div>
        <div class="px-4 py-4 flex justify-end app-border-t">
          <button (click)="onClose()"
                  ibmButton="secondary"
                  size="md"
                  class="mr-1">
            Annuler
          </button>
          <button ibmButton="primary" size="md" [disabled]="waittingResponse || formGroup.invalid" type="submit">
            <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
            <ng-template #noWaitingResponse>
              <span class="btn-text">Ajouter</span>
              <svg class="cds--btn__icon" ibmIconAdd size="20"></svg>
            </ng-template>
          </button>
        </div>
      </div>
      
  </form>
 