<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" type="white" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-8">{{ 'AUTH.ACCOUNT_CONFIRMATION_REQUIRED' | translate }}</h1>
<p class="app-body-long-02">
  {{ 'AUTH.CONFIRMATION_EMAIL_SENT' | translate }}
</p>
<p>{{ 'AUTH.FOLLOW_INSTRUCTIONS' | translate }}</p>

<button (click)="onResendEmailConfirmation()" cdsButton size="md" class="app-ibm-btn-full custom-primary-button" [disabled]="waittingResponse" ibmButton="primary" >
  <ibm-loading *ngIf="waittingResponse; else noWaitingResponse"></ibm-loading>
  <ng-template #noWaitingResponse>
    <span class="btn-text">{{ 'AUTH.RESEND_EMAIL' | translate }}</span>
    <youpez-ibm-icon iconClass="cds--btn__icon" iconName="arrowRight" iconSize="20" ></youpez-ibm-icon >
  </ng-template>
</button>
<div class="mt-8">
  {{ 'AUTH.BACK_TO' | translate }} <a class="app-link" routerLink=".../../signin">{{ 'AUTH.SIGN_IN' | translate }}</a>
</div>

